/*.top-slider {

    &__item {
        background-color: $bg;
        height: 820px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__inner {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        max-width: 1244px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 745px;
    }

    &__picture {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-family: $rubik;
        font-weight: $rubik600;
        font-size: 72px;
        color: $title;
        max-width: 500px;
        margin-bottom: 20px;
    }

    &__text {
        color: $grey400;
        font-size: 18px;
        line-height: 1.7;
        font-family: $rubik;
        font-weight: $rubik400;
        margin-bottom: 45px;
        max-width: 400px;
    }

    &__link {
        font-family: $rubik;
        font-weight: $rubik500;
        @include btn;
        font-size: 15px;
        position: relative;
        padding: 25px 100px 20px 26px;

        &::before {
            content: "";
            top: 22px;
            right: 20px;
            position: absolute;
            width: 22px;
            height: 22px;
            background-image: url('../img/sprite.svg#right-icon');
            background-repeat: no-repeat;
        }
    }

    &__images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 634px;
            height: 634px;
            top: 105px;
            right: -114px;
            border-radius: 50%;
            background: linear-gradient(88deg, rgba(255, 255, 255, 0), #fffcfa);
           
        }
    }

    &__picture {
        max-width: 640px;
        max-height: 264px;
    }

    &__img {
        z-index: 10;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 45px;

        li:not(:last-child) {
            margin-right: 12px;
        }

        button {
            color: $title;
            font-size: 11px;
            font-family: 'Rubik-Medium', sans-serif;
            font-weight: 500;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            border: none;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.3);

            &:hover {
                color: $light100;
            }
        }

        .slick-active {
            button {
                background-color: $light100;
            }
        }
    }
}

.advantages {

    &__items {
        display: flex;
        justify-content: center;
        background-color: $light200;
    }

    &__item {
        padding: 40px 0 43px;
        flex-grow: 1;

        &:not(:last-child) {
            border-right: solid 1px $light400;
        }
    }

    &__content {
        max-width: 220px;
        margin: 0 auto;
    }

    &__title {
        font-family: $dmsans;
        font-weight: $dmsans700;
        color: $brown600;
        font-size: 18px;
        line-height: 2.1;
        margin-bottom: 10px;
        position: relative;

        &::before {
            content: "";
            background-repeat: no-repeat;
            position: absolute;
            top: 7px;
            left: -70px;
            width: 53px;
            height: 53px;
        }
    }

    &__title--support::before {
        background-image: url('../img/support.png');
    }

    &__title--delivery::before {
        background-image: url('../img/delivery.png');
        height: 37px;
    }

    &__title--payment::before {
        background-image: url('../img/payment.png');
    }

    &__text {
        font-family: $dmsans;
        font-weight: $dmsans400;
        font-size: 16px;
        color: $brown500;
        max-width: 215px;
    }
}*/

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    &__catalog {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    &__btn {
        font-family: $dmsans;
        font-weight: $dmsans700;
        font-size: 16px;
        color: $brown400;
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        transition: color 0.5s;

        &:hover {
            color: $title;
        }
    }
}

.mixitup-control-active {
    color: $dark700;
}

.products-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 316px;
}

.products-week {
    padding: 70px 0 90px;

    &__title {
        margin-bottom: 20px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-right: -30px;
    }

    &__item {
        background-color: $light100;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        margin: 0 30px 40px 0;
        padding: 30px 10px 40px;
        width: 270px;
        font-size: 16px;
        cursor: pointer;
        position: relative;

        &:hover {
            .products-week__hover {
                opacity: 1;
            }
        }
    }

    &__text {
        font-family: $dmsans;
        font-weight: $dmsans500;
        color: $title;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name {
        margin-bottom: 12px;
    }

    &__price {
        font-family: $dmsans;
        font-weight: $dmsans700;
        color: $accent;
    }

    &__picture {
        margin: 0 auto;
    }

    &__img {
        object-fit: cover;
    }

    &__hover {
        display: flex;
        left: 0;
        max-width: 170px;
        margin: auto;
        right: 0;
        top: 50%;
        opacity: 0;
        position: absolute;
        transition: opacity 0.5s;
    }

    &__effect {
        display: flex;
        justify-content: space-between;
        background-color: $light100;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        transition: background-color 0.5s;

        &:not(:last-child) {
            margin-right: 16px;
        }

        &:hover {
            background-color: $accent;

            .products-week__icon {
                fill: $light100;
            }
        }
    }

    &__link {
        border: none;
        background-color: transparent;
        margin: auto;
        vertical-align: middle;
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: $grey300;
        transition: fill 0.5s;
    }
}