$default: #7b7b7b;
$accent: #a3bbc8;
$title: #243f4d;
$bg: #fcd7b6;


$dark700: #191919;
$dark650: #262626;
$dark600: #292222;
$dark550: #222933;
$dark500: #1f2044;
$dark400: #1f2044;
$grey600: #25404d;
$grey500: #234969;
$grey450: #516278;
$grey400: #436372;
$grey350: #9a9a9a;
$grey300: #a6bdca;
$grey200: #b3b7b5;

$brown800:#333333;
$brown600: #414141;
$brown550: #4c4c4c;
$brown500: #585858;
$brown450: #565872;
$brown420: #666666;
$brown400: #8b8b8b;
$brown370: #9e9e9e;
$brown350: #888888;
$brown300: #999999;
$brown250: #a1a1a1;

$light600: #c2d2db;
$light590: #e5e5e5;
$light580: #ebebeb;
$light570: #e0e0e0;
$light550: #f2f2f2;
$light500: #dae4e9;
$light470: #e6eaf0;
$light450: #f8f8f8;
$light400: #e8e4df;
$light350: #fcf5ee;
$light300: #edf1f4;
$light250: #feefe2;
$light200: #fef7f0;
$light150: #fffcfa;
$light120: #f6f6f6;
$light100: #ffffff;

$dmsans: 'DMSans', sans-serif; 
$poppins: 'Poppins', sans-serif;
$rubik: 'Rubik', sans-serif;

$fw-700: 700;
$fw-500: 500;
$fw-400: 400;

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}


$lx: 1440;
$xl: 1220;
$lg: 992;
$md: 768;
$sm: 576;
$lm: 470;
