$default: #7b7b7b;
$accent: #a3bbc8;
$title: #243f4d;
$bg: #fcd7b6;


$dark700: #191919;
$dark600: #292222;
$dark500: #1f2044;
$dark400: #1f2044;
$grey600: #25404d;
$grey500: #234969;
$grey400: #436372;
$grey300: #a6bdca;

$brown600: #414141;
$brown500: #585858;
$brown400: #8b8b8b;

$light500: #dae4e9;
$light400: #e8e4df;
$light300: #edf1f4;
$light200: #fef7f0;
$light100: #ffffff;

$dmsans: 'DMSans', sans-serif; 
$poppins: 'Poppins', sans-serif;
$rubik: 'Rubik', sans-serif;

$fw-700: 700;
$fw-500: 500;
$fw-400: 400;

