.blog-one {
    font-size: 16px;
    font-weight: $fw-400;
    font-family: $rubik;
    line-height: 2;
    display: flex;

    &__top {
        position: relative;
        margin-bottom: 20px;

        @include max-w($lg) {
            margin-bottom: 5px;
        }
    }

    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 275px;
        font-size: 12px;
        text-transform: uppercase;
        color: $light100;
        background-color: $accent;
        padding: 29px 31px 25px 40px;
        display: flex;

        @include max-w($lg) {
            padding: 15px 20px 15px 25px;
        }

        @include max-w($lm) {
            padding-top: 7px;
            padding-bottom: 4px;
        }
    }

    &__data,
    &__author {
        position: relative;
        z-index: 30;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -17px;
            background-repeat: no-repeat;
            width: 15px;
            height: 20px;
        }
    }

    &__data {
        margin-right: 43px;

        &::before {
            background-image: url('../img/sprite.svg#calendar');
        }
    }

    &__author {
        transition: color 0.5s;

        &:hover {
            color: $bg;
        }

        &::before {
            background-image: url('../img/sprite.svg#blog-author');
        }
    }

    .blog-one__menu {
        margin-bottom: 13px;
    }

    &__content {
        display: flex;

        @include max-w($md) {
            display: block;
        }
    }

    &__inner {
        max-width: 830px;
        margin-right: 70px;
        margin: 0 70px 120px 0;

        @include max-w($lg) {
            margin: 0 0 50px;
        }

        @include max-w($lg) {
            margin-bottom: 30px;
        }

        @include max-w($sm) {
            margin-bottom: 20px;
        }
    }


    &__picture {
        margin-bottom: 10px;

        @include max-w($xl) {
            max-width: 623px;
            height: 376px;
        }

        @include max-w($lg) {
            margin-bottom: 0;
            max-width: 535px;
            height: 323px;
        }

        @include max-w($md) {
            max-width: 475px;
            height: 287px;
        }

        @include max-w($sm) {
            width: 449px;
            height: 271px;
        }

        @include max-w($lm) {
            width: 300px;
            height: 182px;
        }
    }

    &__data,
    &__author {
        &::before {
            top: 4px;
            left: -22px;
        }
    }

    &__article {
        @include max-w($lg) {
            max-width: 90%;
        }

        @include max-w($lm) {
            max-width: 100%;
        }

        h2 {
            margin-bottom: 10px;
            color: $brown800;
            font-size: 36px;

            @include max-w($xl) {
                font-size: 32px;
            }

            @include max-w($lg) {
                margin-bottom: 0;
                line-height: 1.3;
            }

            @include max-w($md) {
                font-size: 30px;
            }

            @include max-w($lm) {
                font-size: 28px;
            }
        }

        strong {
            color: $title;
            font-weight: $fw-500;

            @include max-w($lg) {
                max-width: 800px;
                margin-bottom: 5px;
            }

            @include max-w($sm) {
                margin-bottom: 0;
            }
        }

        p {
            color: $title;
            margin-bottom: 33px;

            @include max-w($xl) {
                max-width: 900px;
            }

            @include max-w($lg) {
                margin-bottom: 15px;
            }

            @include max-w($sm) {
                margin-bottom: 10px;
            }
        }

        h3 {
            font-size: 18px;
            margin-bottom: 10px;
            color: $title;
            font-weight: $fw-500;

            @include max-w($lg) {
                margin-bottom: 0;
            }
        }

        .blog-one__text {
            p {
                color: $brown450;
            }
        }

        blockquote {
            background-color: $light300;
            color: $title;
            padding: 16px 85px 20px 43px;
            position: relative;
            margin-bottom: 45px;

            @include max-w($lg) {
                padding: 5px 20px;
                margin-bottom: 25px;
            }

            @include max-w($sm) {
                margin-bottom: 15px;
            }

            &::before {
                position: absolute;
                content: "";
                height: 100%;
                width: 6px;
                background-color: $accent;
                top: 0;
                left: 0;
            }
        }

        cite {
            position: relative;
            padding-left: 45px;
            display: block;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                width: 20px;
                height: 23px;
                left: 0;
                background-repeat: no-repeat;
                background-image: url('../img/sprite.svg#blog-cite');
            }
        }

        .blog-one__img {
            margin-right: 30px;
        }
    }

    .filter__item {
        margin-bottom: 40px;
    }
}

.partners__shop {
    padding-bottom: 63px;
}