.blog-menu {
    margin-bottom: 13px;
}

.blog {
    display: flex;

    font-weight: $fw-400;
    font-family: $rubik;

    .filters {
        &__burger {
            margin-bottom: 7px;
        }
    }

    &__inner {
        margin-right: 70px;
        margin-bottom: 135px;

        @include max-w($lg) {
            margin: 0 0 50px;
        }

        @include max-w($lg) {
            margin-bottom: 30px;
        }
    }

    &__items {
        margin-bottom: 105px;

        @include max-w($lg) {
            margin-bottom: 75px;
        }

        @include max-w($md) {
            margin-bottom: 55px;
        }

        @include max-w($md) {
            margin-bottom: 45px;
        }

    }

    &__item {
        margin-bottom: 68px;

        @include max-w ($xl) {
            margin-bottom: 57px;
        }

        @include max-w ($lg) {
            margin-bottom: 45px;
        }
    }

    &__pagination {
        justify-content: flex-start;
    }
}

.blog-filter {
    max-width: 270px;
}
