.blog {
    display: flex;

    font-weight: $fw-400;
    font-family: $rubik;

    .shop-menu {
        margin-bottom: 13px;
    }

    .filters__burger {
        margin-bottom: 7px;
    }

    &__inner {
        margin-right: 70px;
        margin-bottom: 135px;

        @include max-w($lg) {
            margin-right: 0;
            margin-bottom: 50px;
        }
    }

    &__items {
        margin-bottom: 105px;

        @include max-w($lg) {
            margin-bottom: 75px;
        }

        @include max-w($md) {
            margin-bottom: 55px;
        }

        @include max-w($md) {
            margin-bottom: 45px;
        }

    }

    &__item {
        margin-bottom: 68px;

        @include max-w ($xl) {
            margin-bottom: 57px;
        }

        @include max-w ($lg) {
            margin-bottom: 45px;
        }
    }

    &__top {
        position: relative;
    }

    &__picture {
        max-width: 830px;
        height: 500px;
        position: relative;
        margin-bottom: 35px;

        @include max-w($xl) {
            max-width: 623px;
            height: 376px;
            margin-bottom: 15px;
        }

        @include max-w($lg) {
            margin-bottom: 5px;
        }

        @include max-w($md) {
            max-width: 475px;
            height: 286px;
        }

        @include max-w($sm) {
            width: 449px;
            height: 270px;
        }

        @include max-w($lm) {
            width: 300px;
            height: 182px;
        }

        &:hover {
            .blog__ref {
                opacity: 0.3;
            }
        }
    }

    &__ref {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        background-color: $dark700;
        transition: opacity 0.5s;
    }

    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 275px;
        font-size: 12px;
        text-transform: uppercase;
        color: $light100;
        background-color: $accent;
        padding: 29px 31px 25px 40px;
        display: flex;

        @include max-w($lg) {
            padding: 15px 20px 15px 25px;
        }

        @include max-w($lm) {
            padding: 7px 20px 4px 25px;
        }
    }

    &__data,
    &__author {
        position: relative;
        z-index: 30;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -17px;
            background-repeat: no-repeat;
            width: 15px;
            height: 20px;
        }
    }

    &__data {
        margin-right: 43px;

        &::before {
            background-image: url('../img/sprite.svg#calendar');
        }
    }

    &__author {
        transition: color 0.5s;

        &:hover {
            color: $bg;
        }

        &::before {
            background-image: url('../img/sprite.svg#blog-author');
        }
    }

    &__title {
        max-width: 750px;
        color: $brown800;
        text-align: left;
        transition: color 0.5s;
        margin-bottom: 27px;
        @include line-clamp(36px, 1.2, 3);

        @include max-w($xl) {
            margin-bottom: 10px;
            font-size: 32px;
        }

        @include max-w($lg) {
            margin-bottom: 5px;
        }

        @include max-w($md) {
            font-size: 30px;
            max-width: 475px;
        }

        @include max-w($lm) {
            font-size: 28px;
        }

        &:hover {
            color: $default;
        }
    }

    &__text {
        font-size: 16px;
        color: $title;
        margin-bottom: 50px;
        max-width: 800px;
        line-height: 1.9;

        @include max-w($xl) {
            max-width: 600px;
            margin-bottom: 30px;
        }

        @include max-w($lg) {
            margin-bottom: 20px;
        }

        @include max-w($md) {
            max-width: 450px;
        }
    }

    &__btn {
        font-weight: $fw-400;
        color: $accent;
        border: 1px solid $accent;
        padding: 20px 80px 20px 20px;
        position: relative;
        transition: background-color 0.5s;

        @include max-w($lg) {
            padding: 15px 65px 15px 15px;
        }

        &:hover {
            background-color: $title;
        }

        &:focus {
            background-color: $bg;
        }

        &:active {
            background-color: $brown800;
        }


        &::before {
            position: absolute;
            content: "";
            top: 38%;
            right: 30px;
            background-repeat: no-repeat;
            background-image: url('../img/sprite.svg#blog-arrow');
            width: 22px;
            height: 20px;

            @include max-w($md) {
                top: 32%;
            }
        }
    }

    &__pagination {
        justify-content: flex-start;
    }
}

.blog-filter {
    max-width: 270px;
}