<section class="blog__inner">
    <h2 class="visually-hidden">
        Here are our blog articles
    </h2>
    <ul class="blog__items">
        <li class="blog__item">
            <article class="blogblog-cardd"></article>
            <div class="blog-card__top">
                <div class="blog-card__picture">
                    <a class="blog-card__ref" href="#">
                        <span class="visually-hidden">
                            by clicking on the link you will be taken to the page of the selected
                            article
                        </span>
                    </a>
                    <img class="blog-card__img" src="img/blog/1.jpg" alt="Fonsectetur adipisicing  eiusmod">
                </div>
                <div class="blog-card__info">
                    <time class="blog-card__data" datetime="28.01.2020">28 january 2020</time>
                    <a class="blog-card__author" href="#">by admin</a>
                </div>
            </div>
            <h3 class="title blog-card__title">
                <a class="tblog-card__link" href="#">
                    Fonsectetur adipisicing eiusmod
                </a>
            </h3>
            <div class="blog-card__text">
                <p>
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna
                </p>
            </div>
            <a class="blog-card__btn" href="#">
                View More
            </a>
        </li>

       <li class="blog__item">
           <article class="blogblog-cardd"></article>
           <div class="blog-card__top">
               <div class="blog-card__picture">
                   <a class="blog-card__ref" href="#">
                       <span class="visually-hidden">
                           by clicking on the link you will be taken to the page of the selected
                           article
                       </span>
                   </a>
                   <img class="blog-card__img" src="img/blog/2.jpg" alt="Fonsectetur adipisicing  eiusmod">
               </div>
               <div class="blog-card__info">
                   <time class="blog-card__data" datetime="28.01.2020">28 january 2020</time>
                   <a class="blog-card__author" href="#">by admin</a>
               </div>
           </div>
           <h3 class="title blog-card__title">
               <a class="tblog-card__link" href="#">
                   Fonsectetur adipisicing elit,
               </a>
           </h3>
           <div class="blog-card__text">
               <p>
                   consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                   magna
                   aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                   alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                   incididunt ut labore et dolore magna
               </p>
           </div>
           <a class="blog-card__btn" href="#">
               View More
           </a>
       </li>

        <li class="blog__item">
            <article class="blogblog-cardd"></article>
            <div class="blog-card__top">
                <div class="blog-card__picture">
                    <a class="blog-card__ref" href="#">
                        <span class="visually-hidden">
                            by clicking on the link you will be taken to the page of the selected
                            article
                        </span>
                    </a>
                    <img class="blog-card__img" src="img/blog/3.jpg" alt="Fonsectetur adipisicing  eiusmod">
                </div>
                <div class="blog-card__info">
                    <time class="blog-card__data" datetime="28.01.2020">28 january 2020</time>
                    <a class="blog-card__author" href="#">by admin</a>
                </div>
            </div>
            <h3 class="title blog-card__title">
                <a class="tblog-card__link" href="#">
                    vonsectetur adipisicing elit
                </a>
            </h3>
            <div class="blog-card__text">
                <p>
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna
                </p>
            </div>
            <a class="blog-card__btn" href="#">
                View More
            </a>
        </li>

        <li class="blog__item">
            <article class="blogblog-cardd"></article>
            <div class="blog-card__top">
                <div class="blog-card__picture">
                    <a class="blog-card__ref" href="#">
                        <span class="visually-hidden">
                            by clicking on the link you will be taken to the page of the selected
                            article
                        </span>
                    </a>
                    <img class="blog-card__img" src="img/blog/4.jpg" alt="Fonsectetur adipisicing  eiusmod">
                </div>
                <div class="blog-card__info">
                    <time class="blog-card__data" datetime="28.01.2020">28 january 2020</time>
                    <a class="blog-card__author" href="#">by admin</a>
                </div>
            </div>
            <h3 class="title blog-card__title">
                <a class="tblog-card__link" href="#">
                    Fonsectetur adipisicing eiusmod
                </a>
            </h3>
            <div class="blog-card__text">
                <p>
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna
                </p>
            </div>
            <a class="blog-card__btn" href="#">
                View More
            </a>
        </li>
    </ul>

    <div class="pagination blog__pagination">
        <ul class="pagination__list">
            <li class="pagination__item">
                <span class="pagination__link pagination__link--active" href="#">1</span>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#">2</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#">3</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#">Next</a>
            </li>
        </ul>
    </div>
</section>