<ul class="filter">
    <li class="filter__catalog">
        <button class="filter__btn" type="button" data-filter="all">
            All
        </button>
    </li>
    <li class="filter__catalog">
        <button class="filter__btn" type="button" data-filter=".category-furnitures">
            Furnitures
        </button>
    </li>
    <li class="filter__catalog">
        <button class="filter__btn" type="button" data-filter=".category-chair">
            Chairs
        </button>
    </li>
    <li class="filter__catalog">
        <button class="filter__btn" type="button" data-filter=".category-lightings">
            Lighting
        </button>
    </li>
    <li class="filter__catalog">
        <button class="filter__btn" type="button" data-filter=".category-decor">
            Decor
        </button>
    </li>
</ul>