<header class="header">
    <h1 class="visually-hidden">
        the best online furniture store
    </h1>
    <div class="container--large">
        <nav class="header__inner">
            <a class="logo header__logo" href="#">
                <img class="logo__img" src="img/logo.png" alt="Logo" width="150" height="40">
            </a>

            <ul class="menu">
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        Home <span>+</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        About
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        Services
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        Pages <span>+</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        News
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        Contact
                    </a>
                </li>
            </ul>

            <div class="user-nav">
                <div class="user-nav__item user-nav__item--search">
                    <button class="user-nav__link">
                        <span class="visually-hidden">
                            when you click on this button, a product search will open
                        </span>
                        <svg class="user-nav__icon user-nav__icon--bright">
                            <use xlink:href="img/sprite.svg#search-icon"></use>
                        </svg>
                    </button>
                </div>

                <div class="user-nav__item user-nav__item--heart">
                    <a class="user-nav__link" href="#">
                        <span class="visually-hidden">
                            when you click, a page with the products you like will open
                        </span>
                        <svg class="user-nav__icon user-nav__icon--bright">
                            <use xlink:href="img/sprite.svg#heart-icon"></use>
                        </svg>
                        <span class="user-nav__num">0</span>
                    </a>
                </div>

                <div class="user-nav__item user-nav__item--cart">
                    <a class="user-nav__link" href="#">
                        <span class="visually-hidden">
                            When you click, the shopping cart will open
                        </span>
                        <svg class="user-nav__icon user-nav__icon--bright">
                            <use xlink:href="img/sprite.svg#cart-icon"></use>
                        </svg>
                        <span class="user-nav__num">0</span>
                    </a>
                </div>

                <div class="user-nav__item user-nav__item--nav">
                    <button class="user-nav__link user-nav__btn" type="button">
                        <span class="visually-hidden">
                            when clicked, a mobile menu will open
                        </span>
                        <svg class="user-nav__icon user-nav__icon--dark">
                            <use xlink:href="img/sprite.svg#nav-icon"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </nav>
    </div>
</header>