<main class="main">
    <!--<section class="top-slider">
        <h2 class="visually-hidden">
            the best furniture in our online store
        </h2>
        <div class="container--large">
            <span class="visually-hidden">
                A slider that can be scrolled starts
            </span>
            <ul class="top-slider__items">
                <li class="top-slider__item">
                    <div class="top-slider__inner">
                        <div class="top-slider__content">
                            <div class="top-slider__title">
                                <p>
                                    SMART AND
                                    TRENDY
                                </p>
                            </div>
                            <div class="top-slider__text">
                                <p>
                                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                </p>
                            </div>
                            <div class="top-slider__btn">
                                <a class="top-slider__link" href="#">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                        <div class="top-slider__images">
                            <div class="top-slider__picture">
                                <img class="top-slider__img" src="img/top-slider/1.png" alt="Slider">
                            </div>
                        </div>
                    </div>
                </li>

                <li class="top-slider__item">
                    <div class="top-slider__inner">
                        <div class="top-slider__content">
                            <div class="top-slider__title">
                                <p>
                                    SMART AND
                                    TRENDY
                                </p>
                            </div>
                            <div class="top-slider__text">
                                <p>
                                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                </p>
                            </div>
                            <div class="top-slider__btn">
                                <a class="top-slider__link" href="#">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                        <div class="top-slider__images">
                            <div class="top-slider__picture">
                                <img class="top-slider__img" src="img/top-slider/1.png" alt="Slider">
                            </div>
                        </div>
                    </div>
                </li>

                <li class="top-slider__item">
                    <div class="top-slider__inner">
                        <div class="top-slider__content">
                            <div class="top-slider__title">
                                <p>
                                    SMART AND
                                    TRENDY
                                </p>
                            </div>
                            <div class="top-slider__text">
                                <p>
                                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                </p>
                            </div>
                            <div class="top-slider__btn">
                                <a class="top-slider__link" href="#">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                        <div class="top-slider__images">
                            <div class="top-slider__picture">
                                <img class="top-slider__img" src="img/top-slider/1.png" alt="Slider">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="advantages">
                <ul class="advantages__items">
                    <li class="advantages__item">
                        <div class="advantages__content">
                            <h3 class="advantages__title advantages__title--support">
                                Support 24/7
                            </h3>
                            <div class="advantages__text">
                                <p>
                                    Contact us 24 hours a day,
                                    7 days a week.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="advantages__item">
                        <div class="advantages__content">
                            <h3 class="advantages__title advantages__title--delivery">
                                Delivery.
                            </h3>
                            <div class="advantages__text">
                                <p>
                                    Free shipping on all US order.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="advantages__item">
                        <div class="advantages__content">
                            <h3 class="advantages__title advantages__title--payment">
                                100% Payment secure.
                            </h3>
                            <div class="advantages__text">
                                <p>
                                    We ensure secure payment
                                    with PEV.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>-->

    <!--<section class="products-week">
        <div class="container">
            <h2 class="title products-week__title">
                Products of the week
            </h2>
            <ul class="filter">
                <li class="filter__catalog">
                    <button class="filter__btn" type="button" data-filter="all">
                        All
                    </button>
                </li>
                <li class="filter__catalog">
                    <button class="filter__btn" type="button" data-filter=".category-furnitures">
                        Furnitures
                    </button>
                </li>
                <li class="filter__catalog">
                    <button class="filter__btn" type="button" data-filter=".category-chair">
                        Chairs
                    </button>
                </li>
                <li class="filter__catalog">
                    <button class="filter__btn" type="button" data-filter=".category-lightings">
                        Lighting
                    </button>
                </li>
                <li class="filter__catalog">
                    <button class="filter__btn" type="button" data-filter=".category-decor">
                        Decor
                    </button>
                </li>
            </ul>

            <ul class="products-week__items">
                <li class="products-week__item mix category-decor">
                    <article class="products-card">
                        <div class="products-week__picture">
                            <img class="products-week__img" src="img/products/product-1.png" alt="Product" width="186"
                                height="195">
                        </div>
                        <div class="products-week__text">
                            <h3 class="products-week__name">
                                Wooden radio
                            </h3>
                            <p class="products-week__price">
                                <span>$29.00</span>
                            </p>
                        </div>
                        <div class="products-week__hover">
                            <div class="products-week__effect">
                                <a class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When clicked, you will be taken to search
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#search-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When you click, you will be taken to the cart
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#cart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#heart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="products-week__item mix category-furnitures">
                    <article class="products-card">
                        <div class="products-week__picture">
                            <img class="products-week__img" src="img/products/product-2.png" alt="Product" width="148"
                                height="206">
                        </div>
                        <div class="products-week__text">
                            <h3 class="products-week__name">
                                Wooden radio
                            </h3>
                            <p class="products-week__price">
                                <span>$29.00</span>
                            </p>
                        </div>
                        <div class="products-week__hover">
                            <div class="products-week__effect">
                                <a class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When clicked, you will be taken to search
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#search-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When you click, you will be taken to the cart
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#cart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#heart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="products-week__item mix category-chair">
                    <article class="products-card">
                        <div class="products-week__picture">
                            <img class="products-week__img" src="img/products/product-3.png" alt="Product" width="208"
                                height="164">
                        </div>
                        <div class="products-week__text">
                            <h3 class="products-week__name">
                                Wooden radio
                            </h3>
                            <p class="products-week__price">
                                <span>$29.00</span>
                            </p>
                        </div>
                        <div class="products-week__hover">
                            <div class="products-week__effect">
                                <a class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When clicked, you will be taken to search
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#search-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When you click, you will be taken to the cart
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#cart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#heart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="products-week__item mix category-lightings">
                    <article class="products-card">
                        <div class="products-week__picture">
                            <img class="products-week__img" src="img/products/product-4.png" alt="Product" width="224"
                                height="125">
                        </div>
                        <div class="products-week__text">
                            <h3 class="products-week__name">
                                Wooden radio
                            </h3>
                            <p class="products-week__price">
                                <span>$29.00</span>
                            </p>
                        </div>
                        <div class="products-week__hover">
                            <div class="products-week__effect">
                                <a class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When clicked, you will be taken to search
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#search-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When you click, you will be taken to the cart
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#cart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#heart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="products-week__item mix category-decor">
                    <article class="products-card">
                        <div class="products-week__picture">
                            <img class="products-week__img" src="img/products/product-5.png" alt="Product" width="236"
                                height="162">
                        </div>
                        <div class="products-week__text">
                            <h3 class="products-week__name">
                                Wooden radio
                            </h3>
                            <p class="products-week__price">
                                <span>$29.00</span>
                            </p>
                        </div>
                        <div class="products-week__hover">
                            <div class="products-week__effect">
                                <a class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When clicked, you will be taken to search
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#search-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When you click, you will be taken to the cart
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#cart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#heart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="products-week__item mix category-furnitures">
                    <article class="products-card">
                        <div class="products-week__picture">
                            <img class="products-week__img" src="img/products/product-6.png" alt="Product" width="230"
                                height="170">
                        </div>
                        <div class="products-week__text">
                            <h3 class="products-week__name">
                                Wooden radio
                            </h3>
                            <p class="products-week__price">
                                <span>$29.00</span>
                            </p>
                        </div>
                        <div class="products-week__hover">
                            <div class="products-week__effect">
                                <a class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When clicked, you will be taken to search
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#search-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When you click, you will be taken to the cart
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#cart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#heart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="products-week__item mix category-lightings">
                    <article class="products-card">
                        <div class="products-week__picture">
                            <img class="products-week__img" src="img/products/product-7.png" alt="Product" width="232"
                                height="167">
                        </div>
                        <div class="products-week__text">
                            <h3 class="products-week__name">
                                Wooden radio
                            </h3>
                            <p class="products-week__price">
                                <span>$29.00</span>
                            </p>
                        </div>
                        <div class="products-week__hover">
                            <div class="products-week__effect">
                                <a class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When clicked, you will be taken to search
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#search-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When you click, you will be taken to the cart
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#cart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#heart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>

                <li class="products-week__item mix category-chair">
                    <article class="products-card">
                        <div class="products-week__picture">
                            <img class="products-week__img" src="img/products/product-8.png" alt="Product" width="238"
                                height="153">
                        </div>
                        <div class="products-week__text">
                            <h3 class="products-week__name">
                                Wooden radio
                            </h3>
                            <p class="products-week__price">
                                <span>$29.00</span>
                            </p>
                        </div>
                        <div class="products-week__hover">
                            <div class="products-week__effect">
                                <a class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When clicked, you will be taken to search
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#search-icon"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <span class="visually-hidden">
                                        When you click, you will be taken to the cart
                                    </span>
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#cart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="products-week__effect">
                                <button class="products-week__link" href="#">
                                    <svg class="products-week__icon">
                                        <use xlink:href="img/sprite.svg#heart-icon"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </section>-->
</main>