<aside class="filter-category filter__item">
    <h3 class="filter__title">
        category
    </h3>
    <form class="filter-category__form" action="#">
        <label class="filter-category__label">
            <input class="filter-category__input filter__input" type="checkbox" checked>
            <p class="filter-category__text filter__text">
                Chair
            </p>
        </label>
        <label class="filter-category__label">
            <input class="filter-category__input filter__input" type="checkbox">
            <p class="filter-category__text filter__text">
                Table
            </p>
        </label>
        <label class="filter-category__label">
            <input class="filter-category__input filter__input" type="checkbox">
            <p class="filter-category__text filter__text">
                Lamp
            </p>
        </label>
        <label class="filter-category__label">
            <input class="filter-category__input filter__input" type="checkbox">
            <p class="filter-category__text filter__text">
                Watch
            </p>
        </label>
        <label class="filter-category__label">
            <input class="filter-category__input filter__input" type="checkbox">
            <p class="filter-category__text filter__text">
                Clock
            </p>
        </label>
    </form>
</aside>