<aside class="filter-view filter__item">
    <h3 class="filter__title filter-view__title">
        view
    </h3>
    <div class="filter-view__buttons">
        <button class="filter-view__btn filter-view__btn--active btn-grid" type="button">
            <svg class="filter-view__icon">
                <use xlink:href="img/sprite.svg#view-grid"></use>
            </svg>
        </button>
        <button class="filter-view__btn btn-list" type="button">
            <svg class="filter-view__icon">
                <use xlink:href="img/sprite.svg#view-list"></use>
            </svg>
        </button>
    </div>
</aside>