<aside class="filter-recent filter__item">
    <h3 class="filter__title filter-recent__title">
        recent products
    </h3>
    <ul class="filter-recent__items">
        <li class="filter-recent__item">
            <a class="products-link" href="#">
                <span class="visually-hidden">
                    when clicked, the product page will open
                </span>
            </a>
            <div class="filter-recent__picture">
                <img src="img/filter/recent-1.png" alt="recent product" class="filter-recent__img">
            </div>
            <div class="filter-recent__content">
                <p class="filter-recent__name">
                    Pendant lamp
                </p>
                <p class="filter-recent__star" data-rateyo-rating="4"></p>
                <p class="filter-recent__price">
                    23$
                </p>
            </div>
        </li>
        <li class="filter-recent__item">
            <a class="products-link" href="#">
                <span class="visually-hidden">
                    when clicked, the product page will open
                </span>
            </a>
            <div class="filter-recent__picture">
                <img src="img/filter/recent-2.png" alt="recent product" class="filter-recent__img">
            </div>
            <div class="filter-recent__content">
                <p class="filter-recent__name">
                    Pendant lamp
                </p>
                <p class="filter-recent__star" data-rateyo-rating="4">
                </p>
                <p class="filter-recent__price">
                    23$
                </p>
            </div>

        </li>

        <li class="filter-recent__item">
            <a class="products-link" href="#">
                <span class="visually-hidden">
                    when clicked, the product page will open
                </span>
            </a>
            <div class="filter-recent__picture">
                <img src="img/filter/recent-3.png" alt="recent product" class="filter-recent__img">
            </div>
            <div class="filter-recent__content">
                <p class="filter-recent__name">
                    Pendant lamp
                </p>
                <p class="filter-recent__star" data-rateyo-rating="4">
                </p>
                <p class="filter-recent__price">
                    23$
                </p>
            </div>
        </li>
    </ul>
</aside>