<aside class="filter-brand filter__item">
    <h2 class="filter__title">
        brand
    </h2>
    <form class="filter-brand__form" action="#">
        <label class="filter-brand__label">
            <input class="filter-brand__input filter__input" type="checkbox" checked>
            <div class="filter-brand__text filter__text">
                <p>RFL</p>
                <p>(10)</p>
            </div>
        </label>
        <label class="filter-brand__label">
            <input class="filter-brand__input filter__input" type="checkbox">
            <div class="filter-brand__text filter__text">
                <p>Brothers</p>
                <p>(21)</p>
            </div>
        </label>
        <label class="filter-brand__label">
            <input class="filter-brand__input filter__input" type="checkbox">
            <div class="filter-brand__text filter__text">
                <p>Regal</p>
                <p>(3)</p>
            </div>
        </label>
        <label class="filter-brand__label">
            <input class="filter-brand__input filter__input" type="checkbox">
            <div class="filter-brand__text filter__text">
                <p>Nadia</p>
                <p>(14)</p>
            </div>
        </label>
        <label class="filter-brand__label">
            <input class="filter-brand__input filter__input" type="checkbox">
            <div class="filter-brand__text filter__text">
                <p>Ortobi</p>
                <p>(6)</p>
            </div>
        </label>
    </form>
</aside>