<section class="contact">
    <div class="container">
        <p class="contact__subtitle">
            Write Here
        </p>
        <h2 class="title contact__title">
            Get In Touch
        </h2>
        <div class="contact-tabs">
            <ul class="contact-tabs__top">
                <li class="contact-tabs__list">
                    <a class="contact-tabs__item" href="#tab-1">
                        <span class="visually-hidden">
                            By clicking, information will appear that relates to this section.
                        </span>
                    </a>
                    <div class="contact-tabs__decor">
                        <svg class="contact-tabs__icon">
                            <use xlink:href="img/sprite.svg#contact-1"></use>
                        </svg>
                    </div>
                    <h3 class="contact-tabs__name">
                        Address
                    </h3>
                    <address class="contact-tabs__text">
                        <p>
                            2416 Mapleview Drive
                            Tampa, FL 33634
                        </p>
                    </address>
                </li>
                <li class="contact-tabs__list">
                    <a class="contact-tabs__item contact-tabs__item--active" href="#tab-2">
                        <span class="visually-hidden">
                            By clicking, information will appear that relates to this section.
                        </span>
                    </a>
                    <div class="contact-tabs__decor contact-tabs__decor--active">
                        <svg class="contact-tabs__icon">
                            <use xlink:href="img/sprite.svg#contact-2"></use>
                        </svg>
                    </div>
                    <h3 class="contact-tabs__name">
                        Our Email
                    </h3>
                    <div class="contact-tabs__text">
                        Main Email :
                        <a class="contact-tabs__email" href="mailto:contact@website.com">contact@website.com</a>
                        Inquiries :
                        <a class="contact-tabs__email" href="mailto:Info@mail.com">Info@mail.com</a>
                    </div>
                </li>
                <li class="contact-tabs__list">
                    <a class="contact-tabs__item" href="#tab-3">
                        <span class="visually-hidden">
                            By clicking, information will appear that relates to this section.
                        </span>
                    </a>
                    <div class="contact-tabs__decor">
                        <svg class="contact-tabs__icon">
                            <use xlink:href="img/sprite.svg#contact-3"></use>
                        </svg>
                    </div>
                    <h3 class="contact-tabs__name">
                        Our Phone
                    </h3>
                    <div class="contact-tabs__text">
                            Office Telephone : 
                             <a class="contact-tabs__phone" href="tel:+0029129102320">0029129102320</a>
                            Mobile : 
                            <a class="contact-tabs__phone" href="tel:+000232439493">000 2324 39493</a>
                    </div>
                </li>
            </ul>
            <div class="contact-tabs__wrapper">
                <div class="contact-tabs__content" id="tab-1">
                    content1
                </div>
                <div class="contact-tabs__content contact-tabs__content--active" id="tab-2">
                    <form class="contact-form">
                        <div class="contact-form__top">
                            <div class="contact-form__item contact-form__name">
                                <label class="visually-hidden" for="input__name">
                                    Enter your name
                                </label>
                                <input class="contact-form__input" name="username" type="text" placeholder="Name"
                                    id="input__name">
                            </div>
                            <div class="contact-form__item contact-form__email">
                                <label class="visually-hidden" for="input__email">
                                    Enter your e-mail
                                </label>
                                <input class="contact-form__input" name="useremail" type="email" placeholder="Email"
                                    id="input__email">
                            </div>
                        </div>
                        <div class="contact-form__item contact-form__text">
                            <label class="visually-hidden" for="input__comment">
                                Enter your comment
                            </label>
                            <textarea class="contact-form__input contact-form__textarea" name="usercomment" type="text"
                                placeholder="message" id="input__comment"></textarea>
                        </div>
                        <button class="contact-form__btn" type="submit">
                            send message
                        </button>
                    </form>
                    <div class="contact-tabs__map">
                        <span class="visually-hidden">
                            here is the map
                        </span>
                        <div class="map" id="map"></div>
                    </div>
                </div>
                <div class="contact-tabs__content" id="tab-3">
                    content3
                </div>
            </div>
        </div>
    </div>
</section>