<section class="mission">
    <div class="container">
        <div class="mission__inner">
            <div class="mission__picture">
                <img class="mission__img" src="img/mission/mission.jpg" alt="Mission of our creative house">
            </div>
            <div class="mission__wrapper">
                <div class="mission__experience">
                    <p class="mission__years">12</p>
                    <ul class="mission__items">
                        <li class="mission__item">Years</li>
                        <li class="mission__item">Experience</li>
                        <li class="mission__item">Working</li>
                    </ul>
                </div>
                <div class="mission__descr">
                    <h2 class="title mission__title">
                        Mission of our creative house
                    </h2>
                    <div class="mission__text">
                        <p>
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum
                        </p>
                    </div>
                </div>
                <ul class="mission__awards">
                    <li class="mission__achievement mission__projects">
                        <span class="mission__number">520+</span>
                        <p class="mission__name">Projects</p>
                    </li>
                    <li class="mission__achievement mission__revenue">
                        <span class="mission__number">$4M</span>
                        <p class="mission__name">Revenue</p>
                    </li>
                    <li class="mission__achievement mission__honors">
                        <span class="mission__number">250</span>
                        <p class="mission__name">Awards</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>