<div class="statistics">
    <div class="container">
        <ul class="statistics__items">
            <li class="statistics__item statistics__clients">
                <span class="statistics__number">99%</span>
                <p class="statistics__text">
                    Satisﬁed Clients Rate
                </p>
            </li>
            <li class="statistics__item statistics__products">
                <span class="statistics__number">5020+</span>
                <p class="statistics__text">
                    Products Delivered
                </p>
            </li>
            <li class="statistics__item statistics__daily">
                <span class="statistics__number">23hr</span>
                <p class="statistics__text">
                    Daily Working Time
                </p>
            </li>
            <li class="statistics__item statistics__brands">
                <span class="statistics__number">140+</span>
                <p class="statistics__text">
                    Brands in Store
                </p>
            </li>
        </ul>
    </div>
</div>
</section>