<section class="team">
    <div class="container">
        <div class="team__inner">
            <aside class="team__text">
                <h2 class="title team__title">
                    Our Team
                </h2>
                <div class="team__descr">
                    <p>
                        Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor
                        inciLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <button class="team__btn" type="button">
                    Join With Us
                </button>
            </aside>

            <div class="team__wapper">
                <ul class="team__items">
                    <li class="team__item">
                        <div class="team__picture">
                            <img class="team__img" src="img/mission/team-1.jpg" alt="Eliza Elliot">
                        </div>
                        <div class="team__box">
                            <div class="team__text">
                                <h3 class="team__name">
                                    Eliza Elliot
                                </h3>
                                <p class="team__position">
                                    Commodo tempor
                                </p>
                            </div>
                            <ul class="team__links">
                                <li class="team__social">
                                    <a class="team__link" href="#">
                                        <svg class="team__icon">
                                            <use xlink:href="img/sprite.svg#team-instagram"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__social">
                                    <a class="team__link" href="#">
                                        <svg class="team__icon">
                                            <use xlink:href="img/sprite.svg#team-google"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="team__item">
                        <div class="team__picture">
                            <img class="team__img" src="img/mission/team-2.jpg" alt="Roscoe">
                        </div>
                        <div class="team__box">
                            <div class="team__text">
                                <h3 class="team__name">
                                    Roscoe A.
                                </h3>
                                <p class="team__position">
                                    Commodo tempor
                                </p>
                            </div>
                            <ul class="team__links">
                                <span class="visually-hidden">
                                    Below are the social networks of our employee. By clicking on the link you will be
                                    taken to his page.
                                </span>
                                <li class="team__social">
                                    <a class="team__link" href="#">
                                        <svg class="team__icon">
                                            <use xlink:href="img/sprite.svg#team-instagram">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__social">
                                    <a class="team__link" href="#">
                                        <svg class="team__icon">
                                            <use xlink:href="img/sprite.svg#team-google">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="team__item">
                        <div class="team__picture">
                            <img class="team__img" src="img/mission/team-3.jpg" alt="Ruby M">
                        </div>
                        <div class="team__box">
                            <div class="team__text">
                                <h3 class="team__name">
                                    Ruby M.
                                </h3>
                                <p class="team__position">
                                    Commodo tempor
                                </p>
                            </div>
                            <ul class="team__links">
                                <span class="visually-hidden">
                                    Below are the social networks of our employee. By clicking on the link you will be
                                    taken to his page.
                                </span>
                                <li class="team__social">
                                    <a class="team__link" href="#">
                                        <svg class="team__icon">
                                            <use xlink:href="img/sprite.svg#team-instagram">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__social">
                                    <a class="team__link" href="#">
                                        <svg class="team__icon">
                                            <use xlink:href="img/sprite.svg#team-google">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="team__item">
                        <div class="team__picture">
                            <img class="team__img" src="img/mission/team-4.jpg" alt="Marie Bloss">
                        </div>
                        <div class="team__box">
                            <div class="team__text">
                                <h3 class="team__name">
                                    Marie F. Bloss
                                </h3>
                                <p class="team__position">
                                    Commodo tempor
                                </p>
                            </div>
                            <ul class="team__links">
                                <span class="visually-hidden">
                                    Below are the social networks of our employee. By clicking on the link you will be
                                    taken to his page.
                                </span>
                                <li class="team__social">
                                    <a class="team__link" href="#">
                                        <svg class="team__icon">
                                            <use xlink:href="img/sprite.svg#team-instagram">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="team__social">
                                    <a class="team__link" href="#">
                                        <svg class="team__icon">
                                            <use xlink:href="img/sprite.svg#team-google">
                                            </use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>