<section class="top">
    <div class="container">
        <h1 class="top__title">
            About Us
        </h1>
        <div class="breadcrums">
            <ul class="breadcrums__list">
                <li class="breadcrums__item">
                    <a class="breadcrums__link" href="#">
                        Home
                    </a>
                </li>
                <li class="breadcrums__item">
                    <span class="breadcrums__link" href="#">
                        About Us
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>