.form {
    display: flex;

    &__input {
        background-color: $bg;
        padding: 15px 10px 15px 15px;
        border: none;

        &::placeholder {
            color: $grey500;
            font-size: 12px;
            font-weight: $fw-400;
        }

        &:focus {
            outline: 2px solid $accent;
        }

        @include max-w($xl) {
            padding: 10px 5px;
        }
    }

    &__btn {
        @include btn;
        padding: 14px 17px;
    }
}