.header {
    padding: 50px 0 44px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    display: flex;
    justify-content: space-between;

    &__item {

        &:not(:last-child) {
            margin-right: 35px;
        }
    }

    &__link {
        font-family: $rubik;
        font-weight: $rubik500;
        @include link;
        font-size: 15px;
        color: $grey400;
    }
}

.user-nav {
    display: flex;
    justify-content: space-between;

    &__item {
        display: flex;
        justify-content: space-between;
        width: 50px;
        height: 50px;
    }

    &__item--search {
        background-color: $light300;
        border-radius: 50%;
        margin-right: 20px;
    }

    &__item--heart,
    &__item--cart {
        background-color: $bg;
        width: 90px;
        height: 50px;
    }

    &__item--heart {
        border-radius: 100px 0 0 100px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 32px;
            background-color: $light100;
            top: 10px;
            right: 0;
        }
    }

    &__item--cart {
        border-radius: 0 100px 100px 0;
        margin-right: 20px;
    }

    &__btn {
        padding: 0;
        background-color: transparent;
        @include btn;
    }

    &__item--nav {
        background-color: $accent;
        border-radius: 50%;
    }

    &__link {
        position: relative;
        border: none;
        background-color: transparent;
        vertical-align: middle;
        margin: auto;
    }

    &__icon {
        width: 17px;
        height: 17px;
        fill: $grey600;
    }

    &__icon--bright {
        transition: fill 0.5s;

        &:hover {
            fill: $light100;
        }
    }

    &__num {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $light100;
        top: -8px;
        right: -10px;
        font-size: 10px;
        color: $title;
        text-align: center;
        line-height: 1.6;
        font-family: $dmsans;
        font-weight: $dmsans400;
    }

    &__icon--dark {
        width: 20px;
        height: 20px;
        fill: $light100;
        transition: fill 0.5s;

        &:hover {
            fill: $title;
        }
    }
}