.header {
    padding: 50px 0 44px;

    @include max-w($xl) {
        padding: 20px 0;
    }

    @include max-w($lm) {
        padding-top: 10px;
    }

    &__top {
        display: flex;
        align-items: center;

        @include max-w($sm) {
            justify-content: space-between;
            width: 100%;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include max-w($sm) {
            flex-direction: column;
        }
    }

    .logo {
        @include max-w($lg) {
            margin-right: 20px;
        }

        @include max-w($sm) {
            margin-bottom: 20px;
        }
    }

    .menu {
        display: flex;

        @include max-w($lg) {
            font-size: 14px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: $light300;
            text-align: center;
            transform: translateY(-200%);
            transition: transform 0.5s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: auto;
            z-index: 998;
            padding: 30px 0;
        }

        &--active {
            @include max-w($lg) {
                transform: translateY(0);
            }
        }

        &__item {
            &:not(:last-child) {
                margin-right: 35px;
                margin-bottom: 10px;

                @include max-w($lg) {
                    margin-right: 0;
                }
            }
        }

        &__link {
            font-family: $rubik;
            font-weight: $fw-500;
            @include link;
            font-size: 15px;
            color: $grey400;

            @include max-w($xl) {
                font-size: 14px;
            }

            @include max-w($lg) {
                font-size: 16px;
                line-height: 1.3;
                padding: 10px 0;
                display: block;
            }
        }

        &__burger {
            position: relative;
            display: block;
            width: 30px;
            border: none;
            height: 20px;
            background-color: transparent;
            display: none;
            z-index: 999;
            transition: transform 0.5s;
            margin-right: 30px;

            @include max-w($lg) {
                display: block;
            }

            @include max-w($sm) {
                bottom: 6px;
            }

            &::after,
            &::before {
                content: "";
                background-color: $accent;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: transform 0.5s;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }

        &__line {
            position: absolute;
            background-color: $accent;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: transform 0.5s;
        }
    }

    .menu__burger.menu__burger--active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .menu__burger--active .menu__line {
        transform: scale(0);
    }

    .menu__burger.menu__burger--active::after {
        transform: rotate(-45deg);
        bottom: 9px
    }
}

.user-nav {
    display: flex;
    justify-content: space-between;

    @include max-w($lg) {
        order: -1;
    }

    @include max-w($sm) {
        order: 1;
    }

    &__link {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        transition: background-color 0.5s;

        @include max-w($xl) {
            margin-right: 10px;
        }

        @include max-w($md) {
            width: 40px;
            height: 40px;
        }
    }

    &__buttons {
        display: flex;
    }

    .user-icon--search {
        background-color: $light300;

        &:hover {
            background-color: $accent;
        }

        &:focus {
            color: $bg;
        }

        &:active {
            background-color: $light200;
        }
    }

    &__link--heart,
    &__link--cart {
        background-color: $bg;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $light200;
        }

        &:active {
            background-color: $grey200;
        }

        &:focus {
            background-color: $brown400;
        }
    }

    &__link--heart {
        border-radius: 100px 0 0 100px;
        position: relative;
        margin-right: 0;

        &::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 32px;
            background-color: $light100;
            top: 10px;
            right: 0;
        }
    }

    &__link--cart {
        border-radius: 0 100px 100px 0;
    }

    &__btn {
        padding: 0;
        border-radius: 50%;
        transition: background-color 0.5s;
        @include btn;
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $bg;
        }

        &:focus {
            background-color: $default;
        }

        @include max-w($lg) {
            margin-right: 20px;
        }
    }

    &__link--nav {
        background-color: $accent;
        border-radius: 50%;
    }

    &__link {
        position: relative;
        border: none;
    }

    &__icon {
        width: 17px;
        height: 17px;
        fill: $grey600;
    }

    &__icon--bright {
        transition: fill 0.5s;
    }

    &__num {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $light100;
        top: 10px;
        right: 27px;
        font-size: 10px;
        color: $title;
        text-align: center;
        line-height: 1.6;
    }

    &__icon--dark {
        width: 20px;
        height: 20px;
        fill: $light100;
        transition: fill 0.5s;
    }
}