.products-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    @include max-w($xl) {
        margin-bottom: 25px;
    }

    @include max-w($lm) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }

    &__catalog {
        &:not(:last-child) {
            margin-right: 25px;

            @include max-w($lm) {
                margin-right: 0;
                margin-bottom: 5px;
            }
        }

        @include max-w($lm) {
            padding: 10px 0;
        }
    }

    &__btn {
        font-weight: $fw-700;
        font-size: 16px;
        color: $brown400;
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        transition: color 0.5s;

        &:hover {
            color: $title;
        }

        &:active {
            color: $bg;
        }
    }

    .mixitup-control-active {
        color: $dark700;
    }
}