<section class="login">
    <form class="login-form" action="#">
        <label class="login-form__label" for="input__name">
            Username or email address *
        </label>
        <input class="login-form__input" type="text" id="input__name" name="username">

        <label class="login-form__label" for="input__password">
            Password *
        </label>
        <input class="login-form__input login-form__password" type="password" id="input__password" name="userpassword">

        <button type="submit" class="login-form__btn">
            Login
        </button>

        <div class="login-form__info">
            <div class="login-form__item">
                <span class="visually-hidden">
                    click to save login details
                </span>
                <input class="login-form__check" type="checkbox" id="input__check">
                <span class="login-form__style"></span> 
                <label class="check__label login-form__label" for="input__check">
                    Remember me
                </label>
            </div>

            <div class="login-form__item">
                <a class="login-form__link login-form__text" href="#">
                    Lost your password?
                </a>
            </div>
        </div>

        <div class="login-form__subtext">
            <a class="login-form__link" href="#">
                Not registed? No problem
            </a>
            <button class="login-form__button">
                Create an account
            </button>
        </div>
    </form>
</section>