.advantages {

    &__items {
        display: flex;
        justify-content: center;
        background-color: $light200;

        @include max-w($lg) {
            flex-direction: column;
        }

        @include max-w($lm) {
            padding-left: 40px;
        }
    }

    &__item {
        padding: 38px 0 52px;
        flex-grow: 1;

        &:not(:last-child) {
            border-right: solid 1px $light400;
        }

        @include max-w($lg) {
            padding: 15px;
        }
    }

    &__content {
        max-width: 220px;
        margin: 0 auto;
        position: relative;

        &::before {
            content: "";
            background-repeat: no-repeat;
            position: absolute;
            top: 7px;
            left: -70px;
            width: 53px;
            height: 53px;
        }

        @include max-w($xl) {
            max-width: 176px;
        }
    }

    &__title {
        @include line-clamp(18px, 2.3, 5);
        font-weight: $fw-700;
        color: $brown600;
        position: relative;

        &::before {
            content: "";
            background-repeat: no-repeat;
            position: absolute;
            top: 7px;
            left: -70px;
            width: 53px;
            height: 53px;
        }

        @include max-w($xl) {
            @include line-clamp(16px, 1.3, 5);
            margin-bottom: 7px;
        }
    }


    &__content--support::before {
        background-image: url('../img/support.png');
    }

    &__content--delivery::before {
        background-image: url('../img/delivery.png');
        height: 37px;
    }

    &__content--payment::before {
        background-image: url('../img/payment.png');
    }

    &__text {
        @include line-clamp(16px, 1.3, 3);
        color: $brown500;
        max-width: 215px;
    }
}