.advantages {

    &__items {
        display: flex;
        justify-content: center;
        background-color: $light200;
    }

    &__item {
        padding: 38px 0 52px;
        flex-grow: 1;

        &:not(:last-child) {
            border-right: solid 1px $light400;
        }
    }

    &__content {
        max-width: 220px;
        margin: 0 auto;
        position: relative;
        
        &::before {
            content: "";
            background-repeat: no-repeat;
            position: absolute;
            top: 7px;
            left: -70px;
            width: 53px;
            height: 53px;
        }
    }

    &__title {
        @include line-clamp($font-size: 18px,
            $line-height: 2.3,
            $lines-to-show: 5);
        font-weight: $fw-700;
        color: $brown600;
        position: relative;

        &::before {
            content: "";
            background-repeat: no-repeat;
            position: absolute;
            top: 7px;
            left: -70px;
            width: 53px;
            height: 53px;
        }
    }

    &__content--support::before {
        background-image: url('../img/support.png');
    }

    &__content--delivery::before {
        background-image: url('../img/delivery.png');
        height: 37px;
    }

    &__content--payment::before {
        background-image: url('../img/payment.png');
    }

    &__text {
        @include line-clamp($font-size: 16px,
            $line-height: 1.3,
            $lines-to-show: 3);
        color: $brown500;
        max-width: 215px;
    }
}