.design {
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        margin-bottom: 125px;

        @include max-w($xl) {
            grid-template-columns: 360px 360px;
            margin-bottom: 30px;
            grid-gap: 20px;
        }

        @include max-w($md) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        background-color: $light450;
        padding: 30px 0 80px 30px;
        max-width: 370px;
        width: 100%;
        transition: background-color 0.5s;

        &:hover {
            background-color: $light500;
        }

        @include max-w($lm) {
            padding: 15px 0 90px 15px;
        }
    }

    &__text {
        align-items: flex-start;
        position: relative;
        margin-bottom: 30px;
        display: block;
    }

    &__name {
        max-width: 180px;
        line-height: 1.4;
        font-weight: $fw-700;
        font-size: 20px;
        color: $dark700;
    }

    &__picture {
        position: absolute;
        width: 270px;
        height: 130px;
        left: 70px;
        top: 75px;

        @include max-w($lm) {
            top: 90px;
            left: -6px;
        }

        &--small {
            top: 5px;
            left: 170px;
            width: 130px;
            height: 160px;

            @include max-w($lm) {
                top: 30px;
                left: 120px;
            }
        }
    }

    .product-card__img {
        max-height: 100%;
        max-width: 100%;
    }
}

.video {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 115px;
    position: relative;

    @include max-w($xl) {
        height: 47vw;
        margin-bottom: 30px;
    }

    @include max-w($sm) {
        margin-bottom: 10px;
    }


    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        background-color: $light500;
        transition: opacity 0.5s;
    }

    &:hover::after {
        opacity: 0.2;
    }

    &__play {
        position: relative;
        z-index: 10;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.2);
        }

        @include max-w($md) {
            width: 100px;
        }

        @include max-w($sm) {
            width: 80px;
        }

        @include max-w($lm) {
            width: 60px;
        }
    }
}