.products-week {
    padding: 70px 0 90px;

    &__title {
        margin-bottom: 20px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-right: -30px;
        margin-bottom: 145px;
    }

    &__item {
        background-color: $light100;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        margin: 0 30px 40px 0;
        padding: 30px 10px 40px;
        width: 270px;
        font-size: 16px;
        cursor: pointer;
        position: relative;

        &:hover {
            .products-week__hover {
                opacity: 1;
            }
        }
    }

    &__text {
        font-weight: $fw-500;
        color: $title;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name {
        margin-bottom: 12px;
        @include line-clamp($font-size: 16px,
            $line-height: 2,
            $lines-to-show: 2);
    }

    &__price {
        font-weight: $fw-700;
        color: $accent;
    }

    &__picture {
        margin: 0 auto;
    }

    &__img {
        object-fit: cover;
    }

    &__hover {
        display: flex;
        left: 0;
        max-width: 170px;
        margin: auto;
        right: 0;
        top: 50%;
        opacity: 0;
        position: absolute;
        transition: opacity 0.5s;
    }

    &__effect {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }


    &__link {
        background-color: $light100;
        width: 45px;
        height: 45px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        @include user-icon;

        &:hover {
            background-color: $accent;

            .products-week__icon {
                fill: $light100;
            }
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        fill: $grey300;
        transition: fill 0.5s;
    }
}
