.top-slider {

    &__item {
        background-color: $bg;
        height: 820px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__inner {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;
        max-width: 1244px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 745px;
    }

    &__picture {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        @include line-clamp(
            $font-size: 72px,
            $line-height: 1.3,
            $lines-to-show: 3);
        font-family: $rubik;
        font-weight: $rubik500;
        color: $title;
        max-width: 500px;
        margin-bottom: 20px;
    }

    &__text {
        @include line-clamp(
            $font-size: 16px,
            $line-height: 1.7,
            $lines-to-show: 6);
        color: $grey400;
        font-family: $rubik;
        font-weight: $rubik400;
        margin-bottom: 45px;
        max-width: 400px;
        text-overflow: hidden;
    }

    &__link {
        font-family: $rubik;
        font-weight: $rubik500;
        @include btn;
        font-size: 15px;
        position: relative;
        padding: 25px 100px 20px 26px;

        &::before {
            content: "";
            top: 22px;
            right: 20px;
            position: absolute;
            width: 22px;
            height: 22px;
            background-image: url('../img/sprite.svg#right-icon');
            background-repeat: no-repeat;
        }
    }

    &__images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 634px;
            height: 634px;
            top: 105px;
            right: -114px;
            border-radius: 50%;
            background: linear-gradient(88deg, rgba(255, 255, 255, 0), #fffcfa);

        }
    }

    &__picture {
        max-width: 640px;
        max-height: 264px;
    }

    &__img {
        z-index: 10;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: 45px;

        li:not(:last-child) {
            margin-right: 12px;
        }

        button {
            color: $title;
            font-size: 11px;
            font-family: 'Rubik-Medium', sans-serif;
            font-weight: 500;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            border: none;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.3);

            &:hover {
                color: $accent;
            }
        }

        .slick-active {
            button {
                background-color: $light100;
            }
        }
    }
}