<main class="main">
    <section class="top-slider">
        <div class="container">
            <span class="visually-hidden">
                A slider that can be scrolled starts
            </span>
            <ul class="top-slider__items">
                <li class="top-slider__item">
                    <div class="top-slider__inner">
                        <div class="top-slider__content">
                            <h1 class="top-slider__title">
                                SMART AND
                                TRENDY
                            </h1>
                            <div class="top-slider__text">
                                <p>
                                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                </p>
                            </div>
                            <button class="top-slider__btn" type="buttom">
                                Shop Now
                            </button>
                        </div>
                        <div class="top-slider__picture">
                            <img class="top-slider__img" src="img/top-slider/1.png" alt="Slider">
                        </div>
                    </div>
                </li>

                <li class="top-slider__item">
                    <div class="top-slider__inner">
                        <div class="top-slider__content">
                            <h1 class="top-slider__title">
                                SMART AND
                                TRENDY
                            </h1>
                            <div class="top-slider__text">
                                <p>
                                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                </p>
                            </div>
                            <button class="top-slider__btn" type="button">
                                Shop Now
                            </button>
                        </div>
                        <div class="top-slider__picture">
                            <img class="top-slider__img" src="img/top-slider/1.png" alt="Slider">
                        </div>
                    </div>
                </li>

                <li class="top-slider__item">
                    <div class="top-slider__inner">
                        <div class="top-slider__content">
                            <h1 class="top-slider__title">
                                SMART AND
                                TRENDY
                            </h1>
                            <div class="top-slider__text">
                                <p>
                                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt
                                </p>
                            </div>
                            <button class="top-slider__btn" type="button">
                                Shop Now
                            </button>
                        </div>
                        <div class="top-slider__picture">
                            <img class="top-slider__img" src="img/top-slider/1.png" alt="Slider">
                        </div>
                    </div>
                </li>
            </ul>
            <div class="advantages">
                <div class="advantages__inner">
                    <ul class="advantages__items">
                        <li class="advantages__item">
                            <p class="advantages__title advantages__title--support">
                                Support 24/7
                            </p>
                            <div class="advantages__text">
                                <p>
                                    Contact us 24 hours a day,
                                    7 days a week.
                                </p>
                            </div>
                        </li>

                        <li class="advantages__item">
                            <p class="advantages__title advantages__title--delivery">
                                Delivery.
                            </p>
                            <div class="advantages__text">
                                <p>
                                    Free shipping on all US order.
                                </p>
                            </div>
                        </li>

                        <li class="advantages__item">
                            <p class="advantages__title advantages__title--payment">
                                100% Payment secure.
                            </p>
                            <div class="advantages__text">
                                <p>
                                    We ensure secure payment
                                    with PEV.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="products">
        <div class="container">
            <h2 class="title products__title">
                Products of the week
            </h2>
            <ul class="products__filter">
                <li class="products__catalog">
                    <button class="products__btn" type="button" data-filter="all">
                        All
                    </button>
                </li>
                <li class="products__catalog">
                    <button class="products__btn" type="button" data-filter=".category-furnitures">
                        Furnitures
                    </button>
                </li>
                <li class="products__catalog">
                    <button class="products__btn" type="button" data-filter=".category-chair">
                        Chairs
                    </button>
                </li>
                <li class="products__catalog">
                    <button class="products__btn" type="button" data-filter=".category-lightings">
                        Lighting
                    </button>
                </li>
                <li class="products__catalog">
                    <button class="products__btn" type="button" data-filter=".category-decor">
                        Decor
                    </button>
                </li>
            </ul>

            <ul class="products__items">
                <li class="products__item mix category-decor">
                    <img src="img/products/product-1.png" alt="Product">
                    <div class="products__text">
                        <p class="products__name">
                            Wooden radio
                        </p>
                        <span class="products__price">
                            $29.00
                        </span>
                    </div>
                    <ul class="products__hover">
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When clicked, you will be taken to search
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the cart
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#cart-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#heart-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="products__item mix category-chair">
                    <img src="img/products/product-2.png" alt="Product">
                    <div class="products__text">
                        <p class="products__name">
                            Wooden chair
                        </p>
                        <span class="products__price">
                            $29.00
                        </span>
                    </div>
                    <ul class="products__hover">
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When clicked, you will be taken to search
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the cart
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#cart-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the products you like
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#heart-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="products__item mix category-chair">
                    <img src="img/products/product-3.png" alt="Product">
                    <div class="products__text">
                        <p class="products__name">
                            White chair
                        </p>
                        <span class="products__price">
                            $29.00
                        </span>
                    </div>
                    <ul class="products__hover">
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When clicked, you will be taken to search
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the cart
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#cart-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the products you like
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#heart-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="products__item mix category-furnitures">
                    <img src="img/products/product-4.png" alt="Product">
                    <div class="products__text">
                        <p class="products__name">
                            Retro chair
                        </p>
                        <span class="products__price">
                            $29.00
                        </span>
                    </div>
                    <ul class="products__hover">
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When clicked, you will be taken to search
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the cart
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#cart-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the products you like
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#heart-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="products__item mix category-furnitures">
                    <img src="img/products/product-5.png" alt="Product">
                    <div class="products__text">
                        <p class="products__name">
                            Wooden radio
                        </p>
                        <span class="products__price">
                            $29.00
                        </span>
                    </div>
                    <ul class="products__hover">
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When clicked, you will be taken to search
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the cart
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#cart-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the products you like
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#heart-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="products__item mix category-chair">
                    <img src="img/products/product-6.png" alt="Product">
                    <div class="products__text">
                        <p class="products__name">
                            Wooden chair
                        </p>
                        <span class="products__price">
                            $29.00
                        </span>
                    </div>
                    <ul class="products__hover">
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When clicked, you will be taken to search
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the cart
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#cart-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the products you like
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#heart-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="products__item mix category-chair">
                    <img src="img/products/product-7.png" alt="Product">
                    <div class="products__text">
                        <p class="products__name">
                            Whote chair
                        </p>
                        <span class="products__price">
                            $29.00
                        </span>
                    </div>
                    <ul class="products__hover">
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When clicked, you will be taken to search
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the cart
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#cart-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the products you like
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#heart-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="products__item mix category-decor">
                    <img src="img/products/product-8.png" alt="Product">
                    <div class="products__text">
                        <p class="products__name">
                            Retro table
                        </p>
                        <span class="products__price">
                            $29.00
                        </span>
                    </div>
                    <ul class="products__hover">
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When clicked, you will be taken to search
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#search-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the cart
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#cart-icon"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="products__effect">
                            <a class="products__link" href="#">
                                <span class="visually-hidden">
                                    When you click, you will be taken to the products you like
                                </span>
                                <svg class="products__icon">
                                    <use xlink:href="img/sprite.svg#heart-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</main>