<section class="product-one">
    <div class="container">
        <div class="product-one__inner">
            <div class="product-one__slide product-slide">
                <span class="visually-hidden">
                    There are two sliders below. The selected images in the small slider will be shown in the large
                </span>
                <ul class="product-slide__thumb">
                    <li class="product-slide__small">
                        <img class="product-slide__img" src="img/products/one/1.jpg" alt="Pendant Lamp">
                    </li>
                    <li class="product-slide__small">
                        <img class="product-slide__img" src="img/products/one/2.jpg" alt="Pendant Lamp">
                    </li>
                    <li class="product-slide__small">
                        <img class="product-slide__img" src="img/products/one/3.jpg" alt="Pendant Lamp">
                    </li>
                    <li class="product-slide__small">
                        <img class="product-slide__img" src="img/products/one/4.jpg" alt="Pendant Lamp">
                    </li>
                </ul>
                <ul class="product-slide__big">
                    <li class="product-slide__item">
                        <img class="product-slide__img" src="img/products/one/1.jpg" alt="Pendant Lamp">
                    </li>
                    <li class="product-slide__item">
                        <img class="product-slide__img" src="img/products/one/2.jpg" alt="Pendant Lamp">
                    </li>
                    <li class="product-slide__item">
                        <img class="product-slide__img" src="img/products/one/3.jpg" alt="Pendant Lamp">
                    </li>
                    <li class="product-slide__item">
                        <img class="product-slide__img" src="img/products/one/4.jpg" alt="Pendant Lamp">
                    </li>
                </ul>
            </div>
            <div class="product-one__content">
                <p class="product-one__name">
                    Pendant Lamp
                </p>
                <div class="product-one__star" data-rateyo-rating="4"></div>
                <p class="product-one__price">23$</p>
                <div class="product-one__text">
                    <p>
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo
                    </p>
                </div>
                <div class="product-one__btns">
                    <label class="visually-hidden" for="product__input">
                        Select item quantity
                    </label>
                    <input class="product-one__input" type="number" value="1" min="1" id="product__input">
                    <button class="product-one__btn" type="button">
                        Add to cart
                    </button>
                </div>
                <ul class="product-one__items">
                    <li class="product-one__item">
                        <span class="product-one__category">SKU:</span>
                        <a class="product-one__link" href="#">014</a>
                    </li>
                    <li class="product-one__item">
                        <span class="product-one__category">Category:</span>
                        <a class="product-one__link" href="#">Lights</a>
                    </li>
                    <li class="product-one__item">
                        <span class="product-one__category">Tag:</span>
                        <a class="product-one__link" href="#">Decorative</a>
                    </li>
                </ul>
            </div>
        </div>