<div class="product-tabs">
    <ul class="product-tabs__top">
        <li class="product-tabs__list">
            <a class="product-tabs__item product-tabs__item--active" href="#tab-1">
                Description
            </a>
        </li>
        <li class="product-tabs__list">
            <a class="product-tabs__item" href="#tab-2">
                Additional information
            </a>
        </li>
        <li class="product-tabs__list">
            <a class="product-tabs__item" href="#tab-3">
                Reviews
                <span>(2)</span>
            </a>
        </li>
    </ul>
    <div class="product-tabs__wrapper">
        <div class="product-tabs__content product-tabs__content--active" id="tab-1">
            <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="product-tabs__content" id="tab-2">content 2</div>
        <div class="product-tabs__content" id="tab-3">content 3</div>
    </div>
</div>
</section>