<section class="related">
    <div class="container">
        <h2 class="title related__title">
            Related Products
        </h2>
        <ul class="related__items">
            <span class="visually-hidden">
                Here are similar products. Clicking on the link will take you to the product page.
            </span>
            <li class="related__item">
                <a class="products-link" href="#"></a>
                <article class="product-card">
                    <div class="product-card__picture">
                        <img class="product-card__img" src="img/products/product-3.png" alt="Product">
                    </div>
                    <div class="product-card__text">
                        <h3 class="product-card__name">
                            Wooden radio
                        </h3>
                        <p class="product-card__price">
                            <span>$29.00</span>
                        </p>
                    </div>
                    <div class="product-card__hover">
                        <a class="user-icon product-card__link" href="#">
                            <span class="visually-hidden">
                                When clicked, you will be taken to search
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#search-icon"></use>
                            </svg>
                        </a>
                        <button class="user-icon product-card__link" type="button">
                            <span class="visually-hidden">
                                When you click, you will be taken to the cart
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#cart-icon"></use>
                            </svg>
                        </button>
                        <button class="user-icon product-card__link" type="button">
                            <span class="visually-hidden">
                                when you click, a page with the products you like will open
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#heart-icon"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>
            <li class="related__item">
                <a class="products-link" href="#"></a>
                <article class="product-card">
                    <div class="product-card__picture">
                        <img class="product-card__img" src="img/products/product-1.png" alt="Product">
                    </div>
                    <div class="product-card__text">
                        <h3 class="product-card__name">
                            Wooden radio
                        </h3>
                        <p class="product-card__price">
                            <span>$29.00</span>
                        </p>
                    </div>
                    <div class="product-card__hover">
                        <a class="user-icon product-card__link" href="#">
                            <span class="visually-hidden">
                                When clicked, you will be taken to search
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#search-icon"></use>
                            </svg>
                        </a>
                        <button class="user-icon product-card__link" type="button">
                            <span class="visually-hidden">
                                When you click, you will be taken to the cart
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#cart-icon"></use>
                            </svg>
                        </button>
                        <button class="user-icon product-card__link" type="button">
                            <span class="visually-hidden">
                                when you click, a page with the products you like will open
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#heart-icon"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>
            <li class="related__item">
                <a class="products-link" href="#"></a>
                <article class="product-card">
                    <div class="product-card__picture">
                        <img class="product-card__img" src="img/products/product-2.png" alt="Product">
                    </div>
                    <div class="product-card__text">
                        <h3 class="product-card__name">
                            Wooden radio
                        </h3>
                        <p class="product-card__price">
                            <span>$29.00</span>
                        </p>
                    </div>
                    <div class="product-card__hover">
                        <a class="user-icon product-card__link" href="#">
                            <span class="visually-hidden">
                                When clicked, you will be taken to search
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#search-icon"></use>
                            </svg>
                        </a>
                        <button class="user-icon product-card__link" type="button">
                            <span class="visually-hidden">
                                When you click, you will be taken to the cart
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#cart-icon"></use>
                            </svg>
                        </button>
                        <button class="user-icon product-card__link" type="button">
                            <span class="visually-hidden">
                                when you click, a page with the products you like will open
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#heart-icon"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>
            <li class="related__item">
                <a class="products-link" href="#"></a>
                <article class="product-card">
                    <div class="product-card__picture">
                        <img class="product-card__img" src="img/products/product-3.png" alt="Product">
                    </div>
                    <div class="product-card__text">
                        <h3 class="product-card__name">
                            Wooden radio
                        </h3>
                        <p class="product-card__price">
                            <span>$29.00</span>
                        </p>
                    </div>
                    <div class="product-card__hover">
                        <a class="user-icon product-card__link" href="#">
                            <span class="visually-hidden">
                                When clicked, you will be taken to search
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#search-icon"></use>
                            </svg>
                        </a>
                        <button class="user-icon product-card__link" type="button">
                            <span class="visually-hidden">
                                When you click, you will be taken to the cart
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#cart-icon"></use>
                            </svg>
                        </button>
                        <button class="user-icon product-card__link" type="button">
                            <span class="visually-hidden">
                                when you click, a page with the products you like will open
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#heart-icon"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>
            <li class="related__item">
                <a class="products-link" href="#"></a>
                <article class="product-card">
                    <div class="product-card__picture">
                        <img class="product-card__img" src="img/products/product-4.png" alt="Product">
                    </div>
                    <div class="product-card__text">
                        <h3 class="product-card__name">
                            Wooden radio
                        </h3>
                        <p class="product-card__price">
                            <span>$29.00</span>
                        </p>
                    </div>
                    <div class="product-card__hover">
                        <a class="user-icon product-card__link" href="#">
                            <span class="visually-hidden">
                                When clicked, you will be taken to search
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#search-icon"></use>
                            </svg>
                        </a>
                        <button class="user-icon product-card__link" type="button">
                            <span class="visually-hidden">
                                When you click, you will be taken to the cart
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#cart-icon"></use>
                            </svg>
                        </button>
                        <button class="user-icon product-card__link" type="button">
                            <span class="visually-hidden">
                                when you click, a page with the products you like will open
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#heart-icon"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>
            <li class="related__item">
                <a class="products-link" href="#"></a>
                <article class="product-card">
                    <div class="product-card__picture">
                        <img class="product-card__img" src="img/products/product-3.png" alt="Product">
                    </div>
                    <div class="product-card__text">
                        <h3 class="product-card__name">
                            Wooden radio
                        </h3>
                        <p class="product-card__price">
                            <span>$29.00</span>
                        </p>
                    </div>
                    <div class="product-card__hover">
                        <a class="user-icon product-card__link" href="#">
                            <span class="visually-hidden">
                                When clicked, you will be taken to search
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#search-icon"></use>
                            </svg>
                        </a>
                        <button class="user-icon product-card__link" type="button">
                            <span class="visually-hidden">
                                When you click, you will be taken to the cart
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#cart-icon"></use>
                            </svg>
                        </button>
                        <button class="user-icon product-card__link" type="button">
                            <span class="visually-hidden">
                                when you click, a page with the products you like will open
                            </span>
                            <svg class="product-card__icon">
                                <use xlink:href="img/sprite.svg#heart-icon"></use>
                            </svg>
                        </button>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>