<section class="shop">
    <div class="container">
        <div class="shop__inner">
            <div class="shop__filters filter">
                <div class="filter-view filter__item">
                    <h3 class="filter__title filter-view__title">
                        view
                    </h3>
                    <div class="filter-view__buttons">
                        <button class="filter-view__btn filter-view__btn--active btn-grid" type="button">
                            <svg class="filter-view__icon">
                                <use xlink:href="img/sprite.svg#view-grid"></use>
                            </svg>
                        </button>
                        <button class="filter-view__btn btn-list" type="button">
                            <svg class="filter-view__icon">
                                <use xlink:href="img/sprite.svg#view-list"></use>
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="filter-category filter__item">
                    <h3 class="filter__title">
                        category
                    </h3>
                    <form class="filter-category__form" action="#">
                        <label class="filter-category__label">
                            <input class="filter-category__input filter__input" type="checkbox" checked>
                            <p class="filter-category__text filter__text">
                                Chair
                            </p>
                        </label>
                        <label class="filter-category__label">
                            <input class="filter-category__input filter__input" type="checkbox">
                            <p class="filter-category__text filter__text">
                                Table
                            </p>
                        </label>
                        <label class="filter-category__label">
                            <input class="filter-category__input filter__input" type="checkbox">
                            <p class="filter-category__text filter__text">
                                Lamp
                            </p>
                        </label>
                        <label class="filter-category__label">
                            <input class="filter-category__input filter__input" type="checkbox">
                            <p class="filter-category__text filter__text">
                                Watch
                            </p>
                        </label>
                        <label class="filter-category__label">
                            <input class="filter-category__input filter__input" type="checkbox">
                            <p class="filter-category__text filter__text">
                                Clock
                            </p>
                        </label>
                    </form>
                </div>

                <div class="filter-price filter__item">
                    <h3 class="filter__title">
                        price
                    </h3>
                    <form class="filter-price" action="#">
                        <input class="filter-price__input" type="text" data-min="0" data-max="999" data-from="100.00"
                            data-to="500">
                        <label class="filter-price__label">
                            <div class="filter-price__numbers">
                                <p>$
                                    <span class="filter-price__from"></span>
                                </p>
                                <p>$
                                    <span class="filter-price__to"></span>
                                </p>
                            </div>
                        </label>
                    </form>
                </div>

                <div class="filter-brand filter__item">
                    <h3 class="filter__title">
                        brand
                    </h3>
                    <form class="filter-brand__form" action="#">
                        <label class="filter-brand__label">
                            <input class="filter-brand__input filter__input" type="checkbox" checked>
                            <div class="filter-brand__text filter__text">
                                <p>RFL</p>
                                <p>(10)</p>
                            </div>
                        </label>
                        <label class="filter-brand__label">
                            <input class="filter-brand__input filter__input" type="checkbox">
                            <div class="filter-brand__text filter__text">
                                <p>Brothers</p>
                                <p>(21)</p>
                            </div>
                        </label>
                        <label class="filter-brand__label">
                            <input class="filter-brand__input filter__input" type="checkbox">
                            <div class="filter-brand__text filter__text">
                                <p>Regal</p>
                                <p>(3)</p>
                            </div>
                        </label>
                        <label class="filter-brand__label">
                            <input class="filter-brand__input filter__input" type="checkbox">
                            <div class="filter-brand__text filter__text">
                                <p>Nadia</p>
                                <p>(14)</p>
                            </div>
                        </label>
                        <label class="filter-brand__label">
                            <input class="filter-brand__input filter__input" type="checkbox">
                            <div class="filter-brand__text filter__text">
                                <p>Ortobi</p>
                                <p>(6)</p>
                            </div>
                        </label>
                    </form>
                </div>

                <div class="filter-recent filter__item">
                    <h3 class="filter__title filter-recent__title">
                        recent products
                    </h3>
                    <aside class="filter-recent__box">
                        <ul class="filter-recent__items">
                            <li class="filter-recent__item">
                                <a class="products-link" href="#">
                                    <span class="visually-hidden">
                                        when clicked, the product page will open
                                    </span>
                                </a>
                                <div class="filter-recent__picture">
                                    <img src="img/filter/recent-1.png" alt="recent product" class="filter-recent__img">
                                </div>
                                <div class="filter-recent__content">
                                    <p class="filter-recent__name">
                                        Pendant lamp
                                    </p>
                                    <p class="filter-recent__star" data-rateyo-rating="4"></p>
                                    <p class="filter-recent__price">
                                        23$
                                    </p>
                                </div>

                            </li>

                            <li class="filter-recent__item">
                                <a class="products-link" href="#">
                                    <span class="visually-hidden">
                                        when clicked, the product page will open
                                    </span>
                                </a>
                                <div class="filter-recent__picture">
                                    <img src="img/filter/recent-2.png" alt="recent product" class="filter-recent__img">
                                </div>
                                <div class="filter-recent__content">
                                    <p class="filter-recent__name">
                                        Pendant lamp
                                    </p>
                                    <p class="filter-recent__star" data-rateyo-rating="4">
                                    </p>
                                    <p class="filter-recent__price">
                                        23$
                                    </p>
                                </div>

                            </li>

                            <li class="filter-recent__item">
                                <a class="products-link" href="#">
                                    <span class="visually-hidden">
                                        when clicked, the product page will open
                                    </span>
                                </a>
                                <div class="filter-recent__picture">
                                    <img src="img/filter/recent-3.png" alt="recent product" class="filter-recent__img">
                                </div>
                                <div class="filter-recent__content">
                                    <p class="filter-recent__name">
                                        Pendant lamp
                                    </p>
                                    <p class="filter-recent__star" data-rateyo-rating="4">
                                    </p>
                                    <p class="filter-recent__price">
                                        23$
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>