<div class="partners">
    <div class="container">
        <span class="visually-hidden">
            The slider starts from the page, when you click on the link you will be taken to the
            partner's page
        </span>
        <ul class="partners__items partners__shop">
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img class="partners__img" src="img/partners/partner-1.png" alt="Our partner">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img class="partners__img" src="img/partners/partner-2.png" alt="Our partner">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img class="partners__img" src="img/partners/partner-3.png" alt="Our partner">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img class="partners__img" src="img/partners/partner-4.png" alt="Our partner">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img class="partners__img" src="img/partners/partner-5.png" alt="Our partner">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img class="partners__img" src="img/partners/partner-5.png" alt="Our partner">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img class="partners__img" src="img/partners/partner-5.png" alt="Our partner">
                </a>
            </li>
        </ul>
    </div>
</div>