  <div class="shop__box">
      <ul class="shop__items">
          <li class="shop__item products-week__item">
              <a class="products-link" href="#">
                  <span class="visually-hidden">
                      when clicked, the product page will open
                  </span>
              </a>
              <article class="product-card">
                  <div class="product-card__picture">
                      <img class="product-card__img" src="img/products/product-1.png" alt="Product">
                  </div>
                  <div class="product-card__text">
                      <h3 class="product-card__name">
                          Wooden radio
                      </h3>
                      <p class="product-card__price">
                          <span>$29.00</span>
                      </p>
                  </div>
                  <div class="product-card__hover">
                      <a class="user-icon product-card__link" href="#">
                          <span class="visually-hidden">
                              When clicked, you will be taken to
                              search
                          </span>
                          <svg class="product-card__icon">
                              <use xlink:href="img/sprite.svg#search-icon">
                              </use>
                          </svg>
                      </a>
                      <button class="user-icon product-card__link" type="button">
                          <span class="visually-hidden">
                              When you click, you will be taken to
                              the cart
                          </span>
                          <svg class="product-card__icon">
                              <use xlink:href="img/sprite.svg#cart-icon">
                              </use>
                          </svg>
                      </button>
                      <button class="user-icon product-card__link" type="button">
                          <span class="visually-hidden">
                              when you click, a page with the
                              products you like will open
                          </span>
                          <svg class="product-card__icon">
                              <use xlink:href="img/sprite.svg#heart-icon">
                              </use>
                          </svg>
                      </button>
                  </div>

                  <div class="product-shop">
                      <h3 class="product-shop__name">
                          Wooden radio
                      </h3>
                      <div class="product-shop__star" data-rateyo-rating="4"></div>
                      <p class="product-shop__price">
                          <span>23$</span>
                      </p>
                      <div class="product-shop__descr">
                          <p>
                              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                              exercitation
                          </p>
                      </div>
                      <div class="product-shop__buttons">
                          <button class="user-icon product-card__link product-shop__card" type="button">
                              <span class="visually-hidden">
                                  When you click, you will be
                                  taken to the cart
                              </span>
                              <svg class="product-card__icon product-shop__icon">
                                  <use xlink:href="img/sprite.svg#cart-icon">
                                  </use>
                              </svg>
                          </button>
                          <button class="user-icon product-card__link" type="button">
                              <span class="visually-hidden">
                                  when you click, a page with
                                  the products you like will
                                  open
                              </span>
                              <svg class="product-card__icon">
                                  <use xlink:href="img/sprite.svg#heart-icon">
                                  </use>
                              </svg>
                          </button>
                      </div>
                      <button class="product-shop__btn" type="button">
                          add to cart
                      </button>
                  </div>
              </article>
          </li>

          <li class="shop__item products-week__item">
              <a class="products-link" href="#">
                  <span class="visually-hidden">
                      when clicked, the product page will open
                  </span>
              </a>
              <article class="product-card">
                  <div class="product-card__picture">
                      <img class="product-card__img" src="img/products/product-2.png" alt="Product">
                  </div>
                  <div class="product-card__text">
                      <h3 class="product-card__name">
                          Wooden radio
                      </h3>
                      <p class="product-card__price">
                          <span>$29.00</span>
                      </p>
                  </div>
                  <div class="product-card__hover">
                      <a class="user-icon product-card__link" href="#">
                          <span class="visually-hidden">
                              When clicked, you will be taken to
                              search
                          </span>
                          <svg class="product-card__icon">
                              <use xlink:href="img/sprite.svg#search-icon">
                              </use>
                          </svg>
                      </a>
                      <button class="user-icon product-card__link" type="button">
                          <span class="visually-hidden">
                              When you click, you will be taken to
                              the cart
                          </span>
                          <svg class="product-card__icon">
                              <use xlink:href="img/sprite.svg#cart-icon">
                              </use>
                          </svg>
                      </button>
                      <button class="user-icon product-card__link" type="button">
                          <span class="visually-hidden">
                              when you click, a page with the
                              products you like will open
                          </span>
                          <svg class="product-card__icon">
                              <use xlink:href="img/sprite.svg#heart-icon">
                              </use>
                          </svg>
                      </button>
                  </div>

                  <div class="product-shop">
                      <h3 class="product-shop__name">
                          Wooden radio
                      </h3>
                      <div class="product-shop__star" data-rateyo-rating="4"></div>
                      <p class="product-shop__price">
                          <span>23$</span>
                      </p>
                      <div class="product-shop__descr">
                          <p>
                              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                              exercitation
                          </p>
                      </div>
                      <div class="product-shop__buttons">
                          <button class="user-icon product-card__link product-shop__card" type="button">
                              <span class="visually-hidden">
                                  When you click, you will be
                                  taken to the cart
                              </span>
                              <svg class="product-card__icon product-shop__icon">
                                  <use xlink:href="img/sprite.svg#cart-icon">
                                  </use>
                              </svg>
                          </button>
                          <button class="user-icon product-card__link" type="button">
                              <span class="visually-hidden">
                                  when you click, a page with
                                  the products you like will
                                  open
                              </span>
                              <svg class="product-card__icon">
                                  <use xlink:href="img/sprite.svg#heart-icon">
                                  </use>
                              </svg>
                          </button>
                      </div>
                      <button class="product-shop__btn" type="button">
                          add to cart
                      </button>
                  </div>
              </article>
          </li>

          <li class="shop__item products-week__item">
              <a class="products-link" href="#">
                  <span class="visually-hidden">
                      when clicked, the product page will open
                  </span>
              </a>
              <article class="product-card">
                  <div class="product-card__picture">
                      <img class="product-card__img" src="img/products/product-3.png" alt="Product">
                  </div>
                  <div class="product-card__text">
                      <h3 class="product-card__name">
                          Wooden radio
                      </h3>
                      <p class="product-card__price">
                          <span>$29.00</span>
                      </p>
                  </div>
                  <div class="product-card__hover">
                      <a class="user-icon product-card__link" href="#">
                          <span class="visually-hidden">
                              When clicked, you will be taken to
                              search
                          </span>
                          <svg class="product-card__icon">
                              <use xlink:href="img/sprite.svg#search-icon">
                              </use>
                          </svg>
                      </a>
                      <button class="user-icon product-card__link" type="button">
                          <span class="visually-hidden">
                              When you click, you will be taken to
                              the cart
                          </span>
                          <svg class="product-card__icon">
                              <use xlink:href="img/sprite.svg#cart-icon">
                              </use>
                          </svg>
                      </button>
                      <button class="user-icon product-card__link" type="button">
                          <span class="visually-hidden">
                              when you click, a page with the
                              products you like will open
                          </span>
                          <svg class="product-card__icon">
                              <use xlink:href="img/sprite.svg#heart-icon">
                              </use>
                          </svg>
                      </button>
                  </div>

                  <div class="product-shop">
                      <h3 class="product-shop__name">
                          Wooden radio
                      </h3>
                      <div class="product-shop__star" data-rateyo-rating="4"></div>
                      <p class="product-shop__price">
                          <span>23$</span>
                      </p>
                      <div class="product-shop__descr">
                          <p>
                              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                              exercitation
                          </p>
                      </div>
                      <div class="product-shop__buttons">
                          <button class="user-icon product-card__link product-shop__card" type="button">
                              <span class="visually-hidden">
                                  When you click, you will be
                                  taken to the cart
                              </span>
                              <svg class="product-card__icon product-shop__icon">
                                  <use xlink:href="img/sprite.svg#cart-icon">
                                  </use>
                              </svg>
                          </button>
                          <button class="user-icon product-card__link" type="button">
                              <span class="visually-hidden">
                                  when you click, a page with
                                  the products you like will
                                  open
                              </span>
                              <svg class="product-card__icon">
                                  <use xlink:href="img/sprite.svg#heart-icon">
                                  </use>
                              </svg>
                          </button>
                      </div>
                      <button class="product-shop__btn" type="button">
                          add to cart
                      </button>
                  </div>
              </article>
          </li>
      </ul>

      <div class="pagination">
          <ul class="pagination__list">
              <li class="pagination__item">
                  <a class="pagination__link pagination__link--active" href="#">1</a>
              </li>
              <li class="pagination__item">
                  <a class="pagination__link" href="#">2</a>
              </li>
              <li class="pagination__item">
                  <a class="pagination__link" href="#">3</a>
              </li>
              <li class="pagination__item">
                  <a class="pagination__link" href="#">Next</a>
              </li>
          </ul>
      </div>
  </div>
  </div>
  </div>

  <div class="partners">
      <div class="container">
          <span class="visually-hidden">
              The slider starts from the page, when you click on the link you will be taken to the
              partner's page
          </span>
          <ul class="partners__items">
              <li class="partners__item">
                  <a href="#" class="partners__link">
                      <img class="partners__img" src="img/partners/partner-1.png" alt="Our partner">
                  </a>
              </li>
              <li class="partners__item">
                  <a href="#" class="partners__link">
                      <img class="partners__img" src="img/partners/partner-2.png" alt="Our partner">
                  </a>
              </li>
              <li class="partners__item">
                  <a href="#" class="partners__link">
                      <img class="partners__img" src="img/partners/partner-3.png" alt="Our partner">
                  </a>
              </li>
              <li class="partners__item">
                  <a href="#" class="partners__link">
                      <img class="partners__img" src="img/partners/partner-4.png" alt="Our partner">
                  </a>
              </li>
              <li class="partners__item">
                  <a href="#" class="partners__link">
                      <img class="partners__img" src="img/partners/partner-5.png" alt="Our partner">
                  </a>
              </li>
              <li class="partners__item">
                  <a href="#" class="partners__link">
                      <img class="partners__img" src="img/partners/partner-5.png" alt="Our partner">
                  </a>
              </li>
              <li class="partners__item">
                  <a href="#" class="partners__link">
                      <img class="partners__img" src="img/partners/partner-5.png" alt="Our partner">
                  </a>
              </li>
          </ul>
      </div>
  </div>
  </section>