<section class="design">
    <div class="container">
        <h2 class="title">
            New Design
        </h2>

        <div class="design__box" data-ref="design">
            <ul class="products-filter">
                <li class="products-filter__catalog">
                    <button class="products-filter__btn" type="button" data-filter="all">
                        All
                    </button>
                </li>
                <li class="products-filter__catalog">
                    <button class="products-filter__btn" type="button" data-filter=".category-furnitures">
                        Furnitures
                    </button>
                </li>
                <li class="products-filter__catalog">
                    <button class="products-filter__btn" type="button" data-filter=".category-chair">
                        Chairs
                    </button>
                </li>
                <li class="products-filter__catalog">
                    <button class="products-filter__btn" type="button" data-filter=".category-lighting">
                        Lighting
                    </button>
                </li>
                <li class="products-filter__catalog">
                    <button class="products-filter__btn" type="button" data-filter=".category-decor">
                        Decor
                    </button>
                </li>
            </ul>

            <ul class="design__items">
                <li class="design__item mix category-chair">
                    <a class="products-link" href="#">
                        <span class="visually-hidden">
                            when clicked, the product page will open
                        </span>
                    </a>
                    <article class="product-card">
                        <div class="product-card__text design__text">
                            <h3 class="product-card__name design__name">
                                Beat Flat Pendant Black
                            </h3>
                            <p class="product-card__price">
                                Classic
                            </p>
                            <div class="product-card__picture design__picture">
                                <img class="product-card__img" src="img/design/design-1.png" alt="Design">
                            </div>
                        </div>
                    </article>
                </li>

                <li class="design__item mix category-furnitures">
                    <a class="products-link" href="#">
                        <span class="visually-hidden">
                            when clicked, the product page will open
                        </span>
                    </a>
                    <article class="product-card">
                        <div class="product-card__text design__text">
                            <h3 class="product-card__name design__name">
                                Lampe Sur Pieds Bamboo
                            </h3>
                            <p class="product-card__price">
                                Classic
                            </p>
                            <div class="product-card__picture design__picture">
                                <img class="product-card__img" src="img/design/design-2.png" alt="Design">
                            </div>

                        </div>
                    </article>
                </li>

                <li class="design__item mix category-lightings">
                    <a class="products-link" href="#">
                        <span class="visually-hidden">
                            when clicked, the product page will open
                        </span>
                    </a>
                    <article class="product-card">
                        <div class="product-card__text design__text">
                            <h3 class="product-card__name design__name">
                                Rattan Rocking Chair
                            </h3>
                            <p class="product-card__price">
                                Classic
                            </p>
                            <div class="product-card__picture design__picture design__picture--small">
                                <img class="product-card__img" src="img/design/design-3.png" alt="Design">
                            </div>
                        </div>
                    </article>
                </li>

                <li class="design__item mix category-decor">
                    <a class="products-link" href="#">
                        <span class="visually-hidden">
                            when clicked, the product page will open
                        </span>
                    </a>
                    <article class="product-card">
                        <div class="product-card__text design__text">
                            <h3 class="product-card__name design__name">
                                Rattan Rocking Chair
                            </h3>
                            <p class="product-card__price">
                                Classic
                            </p>
                            <div class="product-card__picture design__picture">
                                <img class="product-card__img" src="img/design/design-4.png" alt="Design">
                            </div>
                        </div>
                    </article>
                </li>

                <li class="design__item mix category-chair">
                    <a class="products-link" href="#">
                        <span class="visually-hidden">
                            when clicked, the product page will open
                        </span>
                    </a>
                    <article class="product-card">
                        <div class="product-card__text design__text">
                            <h3 class="product-card__name design__name">
                                Rattan Rocking Chair
                            </h3>
                            <p class="product-card__price">
                                Classic
                            </p>
                            <div class="product-card__picture design__picture design__picture--small">
                                <img class="product-card__img" src="img/design/design-5.png" alt="Design">
                            </div>
                        </div>
                    </article>
                </li>

                <li class="design__item mix category-furnitures">
                    <a class="products-link" href="#">
                        <span class="visually-hidden">
                            when clicked, the product page will open
                        </span>
                    </a>
                    <article class="product-card">
                        <div class="product-card__text design__text">
                            <h3 class="product-card__name design__name">
                                Lampe Sur Pieds Bamboo
                            </h3>
                            <p class="product-card__price">
                                Classic
                            </p>
                            <div class="product-card__picture design__picture">
                                <img class="product-card__img" src="img/design/design-6.png" alt="Design">
                            </div>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>

    <a class="video" href="https://www.youtube.com/watch?v=zo86Zk7T_-k" style="background-image: url('img/video.jpg');"
        data-fancybox>
        <img class="video__play" src="img/video-play.png" alt="Start video">
        <span class="visually-hidden">
            when clicked, the video will start
        </span>
    </a>
</section>