    <section class="top-slider">
        <h2 class="visually-hidden">
            the best furniture in our online store
        </h2>
        <div class="container container--large">
            <span class="visually-hidden">
                A slider that can be scrolled starts
            </span>
            <ul class="top-slider__items">
                <li class="top-slider__item">
                    <div class="top-slider__inner">
                        <div class="top-slider__content">
                            <div class="top-slider__name">
                                SMART AND
                                TRENDY
                            </div>
                            <div class="top-slider__text">
                                <p>
                                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                </p>
                            </div>
                            <a class="top-slider__link" href="#">
                                Shop Now
                            </a>
                        </div>
                        <div class="top-slider__picture">
                            <img class="top-slider__img" src="img/top-slider/1.png" alt="Slider">
                        </div>
                    </div>
                </li>

                <li class="top-slider__item">
                    <div class="top-slider__inner">
                        <div class="top-slider__content">
                            <div class="top-slider__name">
                                SMART AND
                                TRENDY
                            </div>
                            <div class="top-slider__text">
                                <p>
                                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                </p>
                            </div>
                            <a class="top-slider__link" href="#">
                                Shop Now
                            </a>
                        </div>
                        <div class="top-slider__picture">
                            <img class="top-slider__img" src="img/top-slider/1.png" alt="Slider">
                        </div>
                    </div>
                </li>

                <li class="top-slider__item">
                    <div class="top-slider__inner">
                        <div class="top-slider__content">
                            <div class="top-slider__name">
                                SMART AND
                                TRENDY
                            </div>
                            <div class="top-slider__text">
                                <p>
                                    Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                </p>
                            </div>
                            <a class="top-slider__link" href="#">
                                Shop Now
                            </a>
                        </div>
                        <div class="top-slider__picture">
                            <img class="top-slider__img" src="img/top-slider/1.png" alt="Slider">
                        </div>
                    </div>
                </li>
            </ul>
        </div>