<div class="blog-bottom">
    <div class="blog-author">
        <div class="blog-author__person">
            <div class="blog-author__picture">
                <img class="blog-author__img" src="img/blog/blog-one/author.jpg" alt="Mark N. Hernandez">
            </div>
            <div class="blog-author__text">
                <a class="blog-author__name" href="#">
                    <span class="visually-hidden">
                        clicking on the link you will be redirected to the author's page
                    </span>
                    Mark N. Hernandez
                </a>
                <span class="blog-author__position">
                    Designer
                </span>
            </div>
        </div>
        <ul class="blog-author__info">
            <li class="blog-author__tag">
                <span class="blog-author__span"> Tags: </span>
                <ul class="blog-author__list">
                    <li class="blog-author__item">
                        <a class="blog-author__link" href="#">All</a>,
                    </li>
                    <li class="blog-author__item">
                        <a class="blog-author__link" href="#">Trending</a>
                    </li>
                </ul>
            </li>
            <li class="blog-author__share">
                <span class="blog-author__span"> Share: </span>
                <ul class="blog-author__list">
                    <span class="visually-hidden">
                        the author's social networks are listed below. By clicking on the link
                        you will be taken to the selected social network
                    </span>
                    <li class="blog-author__item">
                        <a class="blog-author__link" href="#">
                            <svg class="blog-author__icon">
                                <use xlink:href="img/sprite.svg#blog-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="blog-author__item">
                        <a class="blog-author__link" href="#">
                            <svg class="blog-author__icon">
                                <use xlink:href="img/sprite.svg#blog-twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="blog-author__item">
                        <a class="blog-author__link" href="#">
                            <svg class="blog-author__icon">
                                <use xlink:href="img/sprite.svg#blog-instagramm"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="blog-author__item">
                        <a class="blog-author__link" href="#">
                            <svg class="blog-author__icon">
                                <use xlink:href="img/sprite.svg#blog-google"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>