<div class="blog-form">
    <h3 class="blog-form__title">
        Leave A Comment
    </h3>
    <form class="blog-form__form" action="#">
        <div class="blog-form__item blog-form__name">
            <label class="blog-form__label">
                <span class="visually-hidden">
                    Enter your name
                </span>
                <input class="blog-form__input" name="username" type="text" placeholder="Name">
            </label>
        </div>

        <div class="blog-form__item blog-form__email">
            <label class="blog-form__label">
                <span class="visually-hidden">
                    Enter your e-mail
                </span>
                <input class="blog-form__input" name="useremail" type="email" placeholder="Email">
            </label>
        </div>

        <div class="blog-form__item blog-form__text">
            <label class="blog-form__label">
                <span class="visually-hidden">
                    Enter your comment
                </span>
                <textarea class="blog-form__input blog-form__textarea" name="usercomment" type="text"
                    placeholder="Comment"></textarea>
            </label>
        </div>
        <button class="blog-form__btn" type="submit">
            post comment
        </button>
    </form>
</div>
</div>
</div>