<div class="blog-form">
    <h3 class="blog-form__title">
        Leave A Comment
    </h3>
    <form class="blog-form__form" action="#">
        <div class="blog-form__item blog-form__name">
            <label class="visually-hidden" for="input__name">
                Enter your name
            </label>
                <input class="blog-form__input" name="username" type="text" placeholder="Name" id="input__name">
        </div>

        <div class="blog-form__item blog-form__email">
            <label class="visually-hidden" for="input__email">
                Enter your e-mail
            </label>
            <input class="blog-form__input" name="useremail" type="email" placeholder="Email" id="input__email">
        </div>

        <div class="blog-form__item blog-form__text">
            <label class="visually-hidden" for="input__comment">
                Enter your comment
            </label>
            <textarea class="blog-form__input blog-form__textarea" name="usercomment" type="text" placeholder="Comment" id="input__comment"></textarea>
        </div>
        <button class="blog-form__btn" type="submit">
            post comment
        </button>
    </form>
</div>
</div>
</div>