<div class="comments">
    <h3 class="comments__title">
        3 Comments
    </h3>
    <ul class="comments__items">
        <li class="comments__item">
            <div class="comments__picture">
                <img class="comments__img" src="img/blog/blog-one/comments/1.jpg" alt="Delores G. Roberts">
            </div>
            <div class="comments__content">
                <div class="comments__top">
                    <a class="comments__name" href="#">
                        <span class="visually-hidden">
                            by clicking on the link you will be redirected to the page of
                            the author of this comment
                        </span>
                        Delores G. Roberts
                    </a>
                    <time class="comments__data" datetime="11.10.2020">
                        Add 11 Oct 2020
                    </time>
                </div>
                <div class="comments__text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                        fringilla massa et tristique convallis. Class aptent taciti sociosqu
                        ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Suspendisse orci sem, ultrices
                    </p>
                </div>
                <a class="comments__reply" href="#">Reply</a>
            </div>
        </li>

        <li class="comments__item comments__answer">
            <div class="comments__picture">
                <img class="comments__img" src="img/blog/blog-one/comments/2.jpg" alt="Shannon S. Williams">
            </div>
            <div class="comments__content">
                <div class="comments__top">
                    <a class="comments__name" href="#">
                        <span class="visually-hidden">
                            by clicking on the link you will be redirected to the page of
                            the author of this comment
                        </span>
                        Shannon S. Williams
                    </a>
                    <time class="comments__data" datetime="11.10.2020">
                        Add 11 Oct 2020
                    </time>
                </div>
                <div class="comments__text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                        fringilla massa et tristique convallis. Class aptent taciti sociosqu
                        ad litora torquent per conubia nostra
                    </p>
                </div>
                <a class="comments__reply" href="#">Reply</a>
            </div>
        </li>

        <li class="comments__item">
            <div class="comments__picture">
                <img class="comments__img" src="img/blog/blog-one/comments/3.jpg" alt="Nicholas R. Coley">
            </div>
            <div class="comments__content">
                <div class="comments__top">
                    <a class="comments__name" href="#">
                        <span class="visually-hidden">
                            by clicking on the link you will be redirected to the page of
                            the author of this comment
                        </span>
                        Nicholas R. Coley
                    </a>
                    <time class="comments__data" datetime="11.10.2020">
                        Add 11 Oct 2020
                    </time>
                </div>
                <div class="comments__text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                        fringilla massa et tristique convallis. Class aptent taciti sociosqu
                        ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Suspendisse orci sem,
                    </p>
                </div>
                <a class="comments__reply" href="#">Reply</a>
            </div>
        </li>
    </ul>
</div>