<div class="blog-one__inner">
    <div class="blog__top blog-one__top">
        <div class="blog__picture blog-one__picture">
            <img class="blog__img blog-one__img" src="img/blog/1.jpg" alt="Fonsectetur adipisicing  eiusmod">
        </div>
        <div class="blog__info blog-one__info">
            <time class="blog__data blog-one__data" datetime="28.01.2020">28 january 2020</time>
            <a class="blog__author blog-one__author" href="#">by admin</a>
        </div>
    </div>
    <div class="blog-one__article">
        <h2>
            Fonsectetur adipisicing eiusmod
        </h2>
        <span>
            Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut
            enim ad minim venia Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        </span>
        <div>
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur.
        </div>
        <blockquote>
            Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            <cite>
                Wiusmod tempor
            </cite>
        </blockquote>
        <div class="blog-one__content">
            <img class="blog-one__left-img" src="img/blog/blog-one/small.jpg" alt="Blog">
            <div class="blog-one__text">
                <h3>
                    Riusmod tempor incididunt
                </h3>
                <p>
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo
                </p>
            </div>
        </div>
        <h3>
            Kajtsal jervcm eoaspckred
        </h3>
        <p>
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo
        </p>
    </div>

 